{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Teil 4.) - Frage 3
    </h3>
<br>
        <br>
        <p>
        {{ if CN_treatment == False }}
        In Frage 1 haben Sie Ihre Einschätzung darüber abgegeben, in wie vielen der 10 Schätzaufgaben jeder der 6 Sender die selbe Zahl angegeben hat, die er gesehen hat (d. h. die Zahl, die von einem zufällig gezogenen Schätzgerät angegeben wurde).
        Für die folgenden Sender haben Sie angegeben, dass diese nicht immer die selbe Zahl angegeben haben, die sie gesehen haben.
        {{ endif }}
        {{ if CN_treatment == True }}
        In Frage 1 haben Sie Ihre Einschätzung darüber abgegeben, in wie vielen der 10 Schätzaufgaben jeder der 6 Sender die selbe Zahl angegeben hat, die er gesehen hat (d. h. die Zahl, die von einem zufällig gezogenen Schätzgerät angegeben wurde (für die Sender A, B, C und D) oder den Durchschnitt von zwei davon (für die Sender E und F)).
        Für die folgenden Sender haben Sie angegeben, dass sie nicht immer die Zahl angegeben haben, die sie gesehen haben.
        {{ endif }}
</p>
        <p>
        {{ if trust_sender_1 < Constants.num_rounds}}
        Sender A hat ihrer Einschätzung nach {{ mistrust_sender_1 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
        {{ if trust_sender_2 < Constants.num_rounds}}
        Sender B hat ihrer Einschätzung nach {{ mistrust_sender_2 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
        {{ if trust_sender_3 < Constants.num_rounds}}
        Sender C hat ihrer Einschätzung nach {{ mistrust_sender_3 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
        {{ if trust_sender_4 < Constants.num_rounds}}
        Sender D hat ihrer Einschätzung nach {{ mistrust_sender_4 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
        {{ if trust_sender_5 < Constants.num_rounds}}
        Sender E hat ihrer Einschätzung nach {{ mistrust_sender_5 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
        {{ if trust_sender_6 < Constants.num_rounds}}
        Sender F hat ihrer Einschätzung nach {{ mistrust_sender_6 }} nicht die Zahl angegeben, die er gesehen hat.
        {{ endif }}
            </p>
        <br>
        <br>
       Für jeden oben aufgeführten Sender bitten wir Sie um folgende Angaben:
        <br>
        <br>
        <ul>
            <li><b>die Schätzungsaufgabe(n), für die Sie glauben, dass der Sender die Zahl, die er gesehen hat, nicht angegeben hat;</b></li>
            <li><b>ihre Schätzung darüber, welche Zahl der Sender eigentlich gesehen hat.</b></li>
        </ul>
        <br>
        <p>
        Am unteren Rand des Bildschirms werden Sie wieder eine Übersicht mit den abgegebenen Schätzungen finden, die jeder Sender für die 10 Schätzaufgaben abgegeben hat.
        </p>
        <br>
        <br>
         <h4> Auszahlung </h4>
        <p>
            Wenn dieser Teil der Studie (Teil 4) für die Bezahlung ausgewählt wird, wird eine der 10 Schätzaufgaben zufällig ausgewählt, und <b>Sie werden entsprechend der Genauigkeit Ihrer Schätzung bei dieser Aufgabe bezahlt. </b>
        Da jede Schätzung für ihre Auszahlung ausgewählt werden kann, sollten Sie jede Schätzung sorgfältig bearbeiten. Die mögliche Auszahlung wird zu Ihrer Auszahlung aus der Frage 1 und der Frage 2 hinzuaddiert.

        <br>
            <p>
       Zur Ermittlung Ihrer Auszahlung wird die dieselbe Regel angewendet, die sie bereits aus Teil 3 kennen:
            Je näher Ihre Schätzung an der Zahl liegt, die der Sender tatsächlich gesehen hat, desto höher ist die Wahrscheinlichkeit, dass Sie eine zusätzliche Auszahlung von 3€ erhalten.
            Wenn Ihre Schätzung genau mit der Zahl übereinstimmt, die der Sender gesehen hat, erhalten Sie auf jeden Fall 3 €.
            Die Berechnung Ihrer Auszahlung ist also einfach:
            Je präziser Ihre Schätzung (d. h. je geringer der Abstand zwischen Ihrer Schätzung und der Zahl, die der Sender gesehen hat), desto höher ist die Wahrscheinlichkeit, dass Sie die 3€ erhalten.
            Nachfolgend finden Sie die technischen Details der Auszahlungsregel.
            Wenn Sie die technischen Einzelheiten der Auszahlungsregelnachlesen möchten, können Sie unten auf "Details" klicken, um den Dropdown-Text zu öffnen und mehr zu lesen.
        </p>
    <br>
        <br>
 <p align="center">
     <a class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#Tech">
    Details zur Auszahlung
     </a>
 </p>
        <div class="collapse" id="Tech">
  <div class="card card-body">
    <p>Der Computer wird eine zufällige Zahl y zwischen 0 und 50 ziehen.
      Jede Zahl zwischen 0 und 50 kann mit gleicher Wahrscheinlichkeit gezogen werden.
      Sie erhalten <b>3€</b>, wenn der quadratische Abstand zwischen Ihrer Schätzung und der tatsächlichen Zahl, die der Sender gesehen hat, kleiner oder gleich y ist.
      Ansonsten erhalten Sie 0 €.
        Dies ist die genaue Formel für die Berechnung Ihrer Auszahlung:</p>
      <ul>
          <li>Ihre Auszahlung = Z, wenn (x - Schätzung)&#178; &#8924;y </li>
          <li>Ihre Auszahlung = 0, wenn (x - Schätzung)&#178; &#62;y </li>
      </ul>
      <p>Betrachten Sie die folgenden Beispiele.
          Angenommen, die tatsächliche Zahl x ist 150 und eine zufällig gezogene Zahl y ist 20.</p>
        <p>
        Ihre Schätzung 135: Quadratischer Abstand ist (150-135)&#178;= 225 &#62; y  &#8594; Sie verdienen 0€.
<br><br>
        Ihre Schätzung 147: quadratischer Abstand ist (150-147)&#178;= 9 &lt; y &#8594; Sie verdienen <b>13€</b>.
<br><br>
        Ihre Schätzung 154: quadratischer Abstand ist (150-154)&#178;= 16 &lt; y &#8594; Sie verdienen <b>13€</b>.
<br><br>
        Ihre Schätzung 155: quadratischer Abstand ist (150-155)&#178;= 25 &#62; y &#8594; Sie verdienen 0€.</p>
<br><br>
      <br>
      Beachten Sie, dass Ihre Gewinnchancen vom quadratischen Abstand zur tatsächlichen Zahl, die der Sender gesehen hat, abhängen.
      Es macht also keinen Unterschied, ob Sie die Zahl unter- oder überschätzen.
      Wichtig ist nur, dass Ihre Schätzung nahe genug an der tatsächlichen Zahl, die der Sender gesehen hat, liegt.
      Je präziser Sie die Zahl schätzen, desto höher sind Ihre Gewinnchancen auf <b>3€</b>.
            <br>
        </div>
</div>
<br>
      Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
      Wenn Sie bereit sind, fortzufahren, drücken Sie bitte auf "Weiter".

</div>
    </div>
<div align="center">
    {{ next_button }}
</div>

{% endblock %}
