{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">

<style type="text/css">
.next {
    float: right;
    margin: 40px auto;
    }

 .back{
    float: left;
    margin: 40px auto;
    }

    .page-header {
    margin: 0px 0 5px;
    padding: 0;
    border-bottom: none;
    text-align: center;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.nav {
    visibility: hidden;
}
</style>

{{ endblock }}
{% block scripts %}

<script src="{% static 'prev_next_button.js' %}"></script>

{% endblock %}
{{ block content }}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Tab 1
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2
 </h3>
    </div>
    <div class="card-body">

        Dieser Teil besteht aus 10 separaten Schätzaufgaben.
        Bei jeder Aufgabe <b>müssen Sie eine unbekannte Zahl x schätzen. Sie werden nach der Genauigkeit Ihrer Schätzung bezahlt</b> (wie unten beschrieben).

<br><br>

<h4>
   Schätzaufgaben
</h4>
        <p>
            Bei jeder der 10 Aufgaben wird vom Computer eine neue Zahl x festgelegt.
            Alle 10 Schätzaufgaben haben zwar die gleiche Struktur, sind aber völlig unabhängig voneinander.
            Das bedeutet, dass die Zahlen in den einzelnen Aufgaben in keiner Weise miteinander verbunden sind.
        </p>
        <p>
            Sie werden nie mit Sicherheit wissen, was die genaue Zahl x ist.
            Stattdessen werden Sie Informationen, die von einem Computer generiert werden, erhalten.
            Diese helfen Ihnen, x zu schätzen.
            Bei jeder Aufgabe werden Sie diese Informationen erhalten und werden dann Ihre eigene Schätzung von x angeben.
            Im Folgenden wird Ihnen erklärt, wie die informationen generiert werden und welche davon Sie erhalten werden.
        </p>
        <p>
            Der Computer simuliert Geräte, die die gleiche Aufgabe lösen wie Sie.
        Wir werden diese Geräte "Schätzgeräte" nennen.
        Für jede Aufgabe machen 10000 Schätzgeräte ihre Schätzung der Zahl x.
        Die Geräte sind gut darin, diese Schätzungen zu machen.
        Sie sind unabhängig voneinander und haben alle die gleiche Qualität, d. h., sie sind gleich gut in der Schätzung der Zahl x.
        Die Geräte haben die folgenden Eigenschaften:
        </p>
<br>
        <ul>
            <li>Die Schätzung eines zufällig ausgewählten Schätzgeräts entspricht mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x als jede andere Zahl.</li>
            <li>Je weiter man sich von der Zahl x entfernt, desto unwahrscheinlicher ist es, dass ein Schätzgerät eine solche Schätzung angibt.
                Die Wahrscheinlichkeit, dass ein Schätzgerät eine Schätzung angibt, die um 10 größer oder kleiner ist als die Zahl x, ist sehr gering.</li>
            <li>Der Durchschnitt der 10000 Schätzungen entspricht genau (oder fast genau) der Zahl x.
                Das bedeutet, dass die Schätzgeräte im Durchschnitt richtig liegen.</li>
        </ul>

        <p>
        Betrachten Sie bitte das folgende Beispiel.
        Stellen Sie sich vor, der Computer hat 280 als die tatsächliche Zahl x gezogen.
        Die folgende Abbildung zeigt ein Beispiel für die 10000 Schätzgeräte und ihre Schätzungen.
            </p>

        <div style="margin: auto; width: 80%; height: auto">
        <img src="{{ static 'Distr.png' }}" style="height: 100%; width:100%"/>
            </div>
        <br>

        <p>
        Wie Sie sehen können, bilden die Schätzungen eine typische Glockenkurve.
        Die häufigste Schätzung ist genau 280.
        Es ist also wahrscheinlicher, dass die Schätzung eines zufällig gezogenen Schätzgerätes der tatsächlichen Zahl x entspricht als jede andere Zahl.
        Je weiter man sich von 280 entfernt, desto unwahrscheinlicher ist es, dass eine solche Schätzung von einem Schätzgerät angegeben wird, und Schätzungen größer als 290 und kleiner als 270 werden fast nie angegeben.
        Der Durchschnitt aller 10000 Schätzungen, der durch die blaue gestrichelte Linie dargestellt wird, beträgt 280.
        Der Durchschnitt ist also korrekt, d. h. er entspricht der Zahl x.
            </p>

        <p>
            Um Ihnen bei der Schätzung der Zahl x zu helfen, wird das folgende Verfahren angewendet.
            Bei jeder Schätzaufgabe wird ein Schätzgerät zufällig gezogen.
            Sie werden die Schätzung dieses Schätzgeräts beobachten.
            Das bedeutet, dass Sie sich für Ihre eigene Schätzung nur auf die Schätzung eines einzigen Schätzgeräts verlassen werden.
            Um die Informationen des Schätzgeräts bestmöglich zu nutzen, sollten Sie bedenken, dass die Schätzung eines zufällig ausgewählten Schätzgeräters mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x entspricht als jeder andere Zahl.
            <b>Um Ihre Chancen auf eine korrekte Schätzung der Zahl x zu maximieren, sollten Sie daher bei jeder Schätzaufgabe genau die vom Schätzgerät angegebene Zahl angeben.</b>
        </p>

        <h4>Auszahlung</h4>
        Wenn dieser Teil der Studie (Teil 2) für die Bezahlung ausgewählt wird, wird eine der 10 Schätzaufgaben zufällig ausgewählt und <b>Sie werden entsprechend der Genauigkeit Ihrer Schätzung bei dieser Aufgabe bezahlt.</b>
        Da jede Aufgabe für ihre Auszahlung ausgewählt werden kann, sollten Sie jede Aufgabe sorgfältig bearbeiten.
        Ihre Auszahlung wird durch der folgenden Regel bestimmt werden:
        <b>Je näher Ihre Schätzung an der Zahl x liegt, desto höher ist die Wahrscheinlichkeit, dass Sie eine zusätzliche Auszahlung von 13 € erhalten.
            Wenn Ihre Schätzung genau der Zahl x entspricht, werden Sie auf jeden Fall 13 € erhalten. </b>
        Die Regel ist so gestaltet, dass Sie sich die größte Chance auf die 13 € sichern können, indem Sie Ihre genaueste Schätzung angeben.
        Falls Sie an den Einzelheiten der Regel interessiert sind, beschreiben wir sie im Folgenden:
        Der Computer zieht zufällig eine Zahl zwischen 0 und 50.
        Wenn der quadratische Abstand zwischen Ihrer Schätzung und der Zahl x gleich oder kleiner als diese zufällig gezogene Zahl ist, erhalten Sie 13€. Ist er größer,
        erhalten Sie 0 €. Beachten Sie, dass Ihre Gewinnchancen vom quadratischen Abstand zur tatsächlichen Zahl x abhängen.
        Es macht also keinen Unterschied, ob Sie die Zahl x unter- oder überschätzen.
        Auch wenn diese Regel kompliziert erscheinen mag, ist das zugrunde liegende Prinzip sehr einfach:
        Je präziser Ihre Schätzung ist (d. h. je geringer der Abstand zwischen Ihrer Schätzung und der Zahl x), desto höher ist die Wahrscheinlichkeit, dass Sie die 13 € erhalten.
        <br>
        <br>
       <h4>Zusammenfassung:</h4>
        <ul>
            <li>In diesem Teil werden Sie 10 unabhängige Schätzaufgaben lösen. Bei jeder Aufgabe müssen Sie eine unbekannte Zahl x schätzen.</li>
            <li>In jeder Aufgabe werden Sie eine Schätzung eines zufällig gezogenen Schätzgeräts beobachten.</li>
            <li>Sie werden nach der Genauigkeit Ihrer Schätzungen bezahlt.</li>
        </ul>

        Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
        Wenn Sie die Anweisungen verstanden haben und bereit sind, fortzufahren, klicken Sie bitte auf "Weiter".
        <br>
  </div>
</div>
<button onclick="topFunction()" id="tab1_next" type="button" class="nexttab btn-primary btn next">Weiter</button>
 </div>



       <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2
 </h3>
        </div>
    <div class="card-body">

<br>
    <div class="alert alert-primary" role="alert">
 <strong> Bevor Sie mit der Aufgabe fortfahren, bitten wir Sie, die folgenden Verständnisfragen zu beantworten.
     Falls Sie die Anweisungen zu Teil 2 erneut lesen möchten, können Sie auf "Zurück" am Ende der Seite klicken.
     Sollten Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.</strong>
</div>
<p style="font-weight: bold">
    1.) Bitte geben Sie an, welche dieser Aussagen zutrifft.</p>
{{ formfield 'comprq1' }}
<br><hr>
        <p style="font-weight: bold">
    2.) Bitte geben Sie an, welche dieser Aussagen zutrifft.</p>
{{ formfield 'comprq2' }}
<br><hr>
        <p style="font-weight: bold">
    3.) Welche Informationen erhalten Sie bei jeder Schätzaufgabe, um die Zahl x zu schätzen?</p>
{{ formfield 'comprq3' }}
<br><hr>
        <p style="font-weight: bold">
    4.) Nehmen wir an, dass das von Ihnen beobachtete Schätzgerät bei einer Schätzaufgabe eine Schätzung von 19 angibt.
            Welche Zahl sollten Sie angesichts dieser Information angeben, um Ihre Chancen auf die zusätzliche Zahlung von 13 € zu maximieren?</p>
{{ formfield 'comprq5' }}

</div>
    </div>
  <button onclick="topFunction()"  type="button" class="prevtab btn-primary btn back">Zurück</button>
<button class="nexttab btn-primary btn next">Weiter</button>
  </div>
</div>

<script>

     document.getElementById("tab1_next").onclick = function clicked(){
    	window.location.hash = 'reload';

    }
    //When the document has loaded, call the function
    window.onload = function() {
    	if(window.location.hash === "#reload"){
    		document.getElementById("part1").classList.remove("show")
            document.getElementById("part1").classList.remove("active")
            document.getElementById("part1-tab").classList.remove("active")
            document.getElementById("part2").classList.add("show")
            document.getElementById("part2").classList.add("active")
            document.getElementById("part2-tab").classList.add("active")
    	}
    };

</script>
{% endblock %}