{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{% block title %}
    Auszahlungsseite
{% endblock %}

{% block content %}


 <div class="card bg-light instructions">
    <div class="card-body">
 <h5>Die Studie ist nun beendet.
     Vielen Dank für die Teilnahme an der heutigen Studie.
     Unten finden Sie die Berechnung Ihrer finalen Auszahlung.
     Bitte bleiben Sie noch einen Moment sitzen.
     Wenn Ihre Platznummer aufgerufen wird, gehen Sie bitte zum Ausgang.
     Dort erhalten Sie Ihre Auszahlung.</h5>
     <br><hr>
        <br>
        <h5>Ihre Auszahlung beträgt: <b>{{ total_payoff }}</b>.</h5>
     <br><br>

        <u>Darin enthalten ist:</u>
        <br>
        <ul>
        <li>Für die Teilnahme an der heutigen Studie:  <b>{{ part_fee }}</b></li>
            <li>

            {{ if payoff_ball == 0 }}
                Teil 1.) wurde für Ihre Auszahlung ausgewählt.
                {{ if SIM_payoff > 0 }}
                Sie haben den Wettbewerb aus Teil 1.) <u>gewonnen</u>.
                Dadurch wurden Ihrer Auszahlung <b>2,00 € </b> gutgeschrieben.
                {{ endif }}
                {{ if SIM_payoff == 0 }}
                Sie haben den Wettbewerb aus Teil 1.) <u>nicht gewonnen</u>.
                Ihre Auszahlung bleibt daher unverändert.
                {{ endif }}
            {{ endif }}
            {{ if payoff_ball > 0 }}
                {{ if SIM_payoff > 0 }}
                Sie haben den Wettbewerb aus Teil 1.) <u>gewonnen</u>.
                {{ endif }}
                {{ if SIM_payoff == 0 }}
                Sie haben den Wettbewerb aus Teil 1.) <u>nicht gewonnen</u>.
                {{ endif }}
                Teil 1.) wurde nicht für Ihre Auszahlung ausgewählt.
            {{ endif }}

        </li>
        {{ if payoff_ball == 1 }}
            Teil 2.) wurde für Ihre Auszahlung ausgewählt.
        <li><u>Auszahlung aus Teil 2.):</u> <b> {{GuessingTask_payoff}}</b></li>
            {{ endif }}
        {{ if payoff_ball == 2 }}
            Teil 4.) wurde für Ihre Auszahlung ausgewählt.
        <li>Auszahlung aus Teil 4.):<b> {{Trust_payoff}}</b></li>
            {{ endif }}
        </ul>

 </div>
 </div>


{{ endblock }}