{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{% block content %}


 <div class="card bg-light instructions">
      <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Auszahlungsseite
 </h3>
      </div>
    <div class="card-body">
 <p>Die Studie ist nun beendet.
     Vielen Dank für die Teilnahme an der heutigen Studie.
     Unten finden Sie die Berechnung Ihrer finalen Auszahlung.
     Bitte bleiben Sie noch einen Moment sitzen.
     Wenn Ihre Platznummer aufgerufen wird, gehen Sie bitte zum Ausgang.
     Dort erhalten Sie Ihre Auszahlung.</p>
     <br>
        <h5>Ihre Auszahlung beträgt: <b>{{ total_payoff }}</b>.</h5>
     <br>

        <u>Darin enthalten ist:</u>
        <br>
        <ul>
        <li>Für die Teilnahme an der heutigen Studie:  <b>{{ part_fee }}</b></li>
            <li>

            {{ if payoff_ball == 0 }}
                Teil 1 wurde für Ihre Auszahlung ausgewählt.
                {{ if SIM_payoff > 0 }}
                Sie haben den Wettbewerb aus Teil 1 <u>gewonnen</u>.
                Dadurch wurden Ihrer Auszahlung <b>{{ SIM_payoff }}€ </b> gutgeschrieben.
                {{ endif }}
                {{ if SIM_payoff == 0 }}
                Sie haben den Wettbewerb aus Teil 1 <u>nicht gewonnen</u>.
                Ihre Auszahlung bleibt daher unverändert.
                {{ endif }}
            {{ endif }}
            {{ if payoff_ball > 0 }}
                {{ if SIM_payoff > 0 }}
                Sie haben den Wettbewerb aus Teil 1 <u>gewonnen</u>.
                {{ endif }}
                {{ if SIM_payoff == 0 }}
                Sie haben den Wettbewerb aus Teil 1 <u>nicht gewonnen</u>.
                {{ endif }}
                Teil 1 wurde nicht für Ihre Auszahlung ausgewählt.
            {{ endif }}

        </li>
        {{ if payoff_ball == 1 }}
            {{ if role != 'receiver'}}
            <li>Teil 2 wurde für Ihre Auszahlung ausgewählt.
        <u>Auszahlung aus Teil 2:</u> <b> {{GuessingTask_payoff}}</b></li>
            {{ endif }}
            {{ if role == 'receiver'}}
            <li>Teil 3 wurde für Ihre Auszahlung ausgewählt.
        <u>Auszahlung aus Teil 3:</u> <b> {{GuessingTask_payoff}}</b></li>
            {{ endif }}
            {{ endif }}
        {{ if payoff_ball == 2 }}
            <li>Teil 4 wurde für Ihre Auszahlung ausgewählt.
        Auszahlung aus Teil 4:<b> {{Trust_payoff}}</b></li>
            {{ endif }}
        {{ if role == 'receiver' }}
            <li>Für die Beantwortung der Fragen in Teil 5:  <b>{{ Questionnaire_payoff }}</b></li>
            {{ endif }}
        {{ if role != 'receiver' }}
            <li>Für die Beantwortung der Fragen in Teil 3, 4 und 5:  <b>{{ Questionnaire_payoff }}</b></li>
            {{ endif }}
        </ul>
  Wenn Sie möchten, können Sie den Auszahlungsbetrag ausblenden. Dadurch wird er während der Auszahlung nicht für die anderen Teilnehmenden sichtbar sein. Klicken Sie dafür unten auf "Weiter".
 </div>
 </div>

<div align="center"  style="margin: 0 auto">
    {{ next_button }}
</div>

{{ endblock }}