{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Teil 4 - Frage 1
    </h3>
        <br>
        <p>In diesem Teil werden wir Ihnen einige Fragen zu den Sendern stellen.
        Sie werden die Instruktionen für jede Frage erhalten, nachdem Sie die vorherige Frage beantwortet haben.
            Wie in Teil 3 beschrieben, mussten die Sender bei jeder der 10 Schätzaufgaben, die Sie ebenfalls bearbeitet haben, eine unbekannte Zahl <i>x</i> schätzen.
            Diese wurden nach der Genauigkeit ihrer Schätzungen bezahlt.</p>
        {{ if CN_treatment == False }}
        <p>
            Bevor ein Sender bei jeder Schätzaufgabe seine Schätzung angegeben hat, hat er die Schätzung eines zufällig ausgewählten Schätzgeräts gesehen.
            Jedem Sender war bewusst, dass die erhaltene Schätzung eines Schätzgerätes mit größerer Wahrscheinlichkeit der tatsächlichen Zahl <i>x</i> entspricht als jeder anderen Zahl.
            Zudem werden Schätzungen unwahrscheinlicher, je weiter diese von der Zahl <i>x</i> entfernt sind.
            Die Sender wurden ausdrücklich darauf hingewiesen, dass sie bei jeder Aufgabe genau die Zahl, die sie sahen, angeben sollten, um ihre Chancen zu maximieren, die zusätzliche Auszahlung zu erhalten.
            Falls deren Schätzung deutlich von der Schätzung des jeweils zufällig gezogenen Schätzgeräts abwich, wurden sie daran erinnert, dass Abweichungen deren Chancen auf eine zusätzliche Auszahlung verringern.
            Daraufhin konnten sie ihre Angaben korrigieren.
        </p>
        {{ endif }}
        {{ if CN_treatment == True }}
        <p>
            Bevor ein Sender bei jeder Schätzaufgabe seine Schätzung angegeben hat, hat er die Schätzung eines zufällig ausgewählten Schätzgeräts gesehen (für Sender A, B, C und D) oder den Durchschnitt von zwei zufällig gezogenen Schätzgeräten (für Sender E und F).
            Jedem Sender war bewusst, dass die erhaltene Schätzung eines Schätzgerätes mit größerer Wahrscheinlichkeit der tatsächlichen Zahl <i>x</i> entspricht als jeder anderen Zahl.
            Zudem werden Schätzungen unwahrscheinlicher, je weiter diese von der Zahl <i>x</i> entfernt sind.
            Die Sender wurden ausdrücklich darauf hingewiesen, dass sie bei jeder Aufgabe genau die Zahl, die sie sahen, angeben sollten, um ihre Chancen zu maximieren, die zusätzliche Auszahlung zu erhalten.
            Falls deren Schätzung deutlich von der Schätzung des jeweils zufällig gezogenen Schätzgeräts abwich, wurden sie daran erinnert, dass Abweichungen deren Chancen auf eine zusätzliche Auszahlung verringern.
            Daraufhin konnten sie ihre Angaben korrigieren.
        </p>
        {{ endif }}
        <p>
            Auf der nächsten Seite werden Sie eine Tabelle sehen, die für jeden Sender anzeigt, welche Schätzung er in jeder einzelnen Schätzaufgabe gemacht hat.
            <b>Ihre Aufgabe lautet wie folgt: Geben Sie in der Tabelle an, bei welchen Schätzaufgaben Sie denken, dass ein Sender die Zahl, die er gesehen hat, nicht angegeben hat.
                Klicken Sie dabei einfach auf die jeweiligen Schätzungen der Sender.</b>
            Klicken Sie allerdings <b>nicht</b> auf Schätzungen, bei denen Sie denken, dass ein Sender die Zahl angegeben hat, die er gesehen hat.
        </p>

        <br>
<h4>
    Auszahlung
</h4>

        <p>
            Falls dieser Teil der Studie (Teil 4) für die Auszahlung ausgewählt werden sollte, wird eine Schätzaufgabe von einem Sender zufällig ausgewählt.<b>Wenn Ihre Angabe bei dieser Schätzaufgabe der Wahrheit entspricht, d.h., wenn sie richtig erraten haben, dass der Sender bei der Schätzaufgabe die Zahl, die er gesehen hat, angegeben hat bzw. nicht angegeben hat, erhalten Sie eine zusätzliche Auszahlung von
            {{ Trust_in_Senders_payoff }} €.</b>
            Ist Ihre Angabe falsch, erhalten Sie 0 €.
            Da jede der Schätzaufgaben über Ihre Bezahlung entscheiden kann, sollten Sie jede Ihrer Angaben ernst nehmen.
        </p>
        <p>
            Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
            Wenn Sie bereit sind, fortzufahren, drücken Sie bitte auf "Weiter".
        </p>

   </div>
</div>
<div align="center">
    {{ next_button }}
</div>

{% endblock %}
