{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">

<style type="text/css">
.text-primary {
color: #322b7b!important;
    font-weight: bold;
}
.text-warning{
    font-weight: bold;
}
</style>
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Willkommen zu dieser Studie!
    </h3>
<br><br>
            <p>
        In dieser Studie gibt es zwei Gruppen: die <span class="text-warning"  style="font-weight: bold">Gruppe Gelb</span> und die <span class="text-primary" style="font-weight: bold">Gruppe Blau</span>.
        Eine gleiche Anzahl von TeilnehmerInnen wurde zufällig jeder Gruppe zugewiesen.
                <b>Sie wurden nach dem Zufallsprinzip der
                    {{ if identity == "Blau" }} <span class="text-primary">Gruppe Blau</span> {{ endif }}
             {{ if identity == "Gelb" }} <span class="text-warning">Gruppe Gelb</span> {{ endif }}
                    zugewiesen.</b>
                Sie werden für den Rest des Experiments in der
                {{ if identity == "Blau" }} <span class="text-primary" style="font-weight: bold">Gruppe Blau</span> {{ endif }}
             {{ if identity == "Gelb" }} <span class="text-warning" style="font-weight: bold">Gruppe Gelb</span> {{ endif }}
                bleiben.
        </p>
    <p>
       Die heutige Studie besteht aus <b>5 unterschiedlichen Teilen</b>.
        Zusätzlich zu dem Festbetrag von {{ participation_fee|to0 }} für Ihre Teilnahme an der Studie, können Sie in den Teilen 1, 3 und 4 zusätzliches Geld verdienen.
        Am Ende der Studie wird einer dieser Teile zufällig ausgewählt, und Ihre Auszahlung erhöht sich um den Verdienst in dem jeweils ausgewählten Teil.

        </p>
        <p>Zu Beginn eines jeden Teils erhalten Sie die entsprechenden Anweisungen für den jeweiligen Teil.
        <strong> Wenn Sie bereit sind, drücken Sie bitte auf "Weiter", um mit dem ersten Teil zu beginnen.</strong>
    </p>
   </div>
</div>
<br>
<div align="center">
    {{ next_button }}
</div>
{% endblock %}
