{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Part 4 - Second additional Task
    </h3>
<br>
        <br>
       In the second additional task, your task is to state your opinion regarding when the senders have not stated the numbers that their assigned estimation devices have shown, and your opinion on what those numbers were.
        You will be paid according to the precision of your estimate.
        <br>
        <br>
        <h4> Task </h4>
        For the following senders you have indicated that they have not always stated the number their randomly assigned estimation device has stated:

        {{ if trust_sender_1 < Constants.num_rounds}}
        Sender A has not stated what he/she has seen {{ mistrust_sender_1 }} times
        {{ endif }}
        {{ if trust_sender_2 < Constants.num_rounds}}
        Sender B has not stated what he/she has seen {{ mistrust_sender_2 }} times
        {{ endif }}
        {{ if trust_sender_3 < Constants.num_rounds}}
        Sender C has not stated what he/she has seen {{ mistrust_sender_3 }} times
        {{ endif }}
        {{ if trust_sender_4 < Constants.num_rounds}}
        Sender D has not stated what he/she has seen {{ mistrust_sender_4 }} times
        {{ endif }}
        {{ if trust_sender_5 < Constants.num_rounds}}
        Sender E has not stated what he/she has seen {{ mistrust_sender_5 }} times
        {{ endif }}
        {{ if trust_sender_6 < Constants.num_rounds}}
        Sender F has not stated what he/she has seen {{ mistrust_sender_6 }} times
        {{ endif }}
        <br>
        <br>
        For each sender listed above, we would ask you to indicate
                <br>
        <br>
        <ul>
            <li>the estimation task(s) for which you believe they have not stated the same number as their randomly assigned estimation device</li>
            <li>indicate which number you believe the estimation device has actually stated</li>
        </ul>
        <br>
        To do this, you will choose in which out of the 10 tasks you believe the sender has stated a number different than what their assigned estimation device has stated.
        You will choose this for each sender, using a dropdown menu.
        The estimation tasks will be ordered from 1 to 10, in the same order as you have faced them in Part 3.
        To see which estimation task corresponds to which number and to remind yourself what the senders have stated across the 10 estimation tasks, a table will be showing this information at the bottom of the screen.
            Then, after choosing the task, you will type in the number you believe the sender’s assigned estimation device has actually stated.
        <br>
        <br>
         <h4> Payment </h4>
        If part 4 is drawn for payment, the money you earn from this second additional task will be added to the money you have earned for the first additional task, and for the main task of part 4, where you were guessing the amount of times the senders have stated the same number as their assigned estimation devices.
        For the second additional task, 1 of all the estimates you stated will be randomly chosen, and you will be paid according to the precision for that particular estimate.
        Since any estimate can determine your payment, you should take each estimate seriously.
        The rule that will determine your payment will be the same rule you faced in the estimation tasks.
        The closer your estimate is to the estimate of the sender’s assigned estimation device, the higher the probability that you receive the bonus of Y Euros.<
        <br>
        <br>
            If your estimate is exactly equal to the number the sender has seen from his/her estimation device, you will get Y Euros for sure.
           The further away your estimate is from the number the sender has seen, the smaller the probability that you receive Y Euros.
           The payment rule is designed so that you can secure the largest chance of getting Y Euros by reporting your most accurate estimation of the number the sender has seen from his/her estimation device.

            In case you want to revisit the technical details of the payment rule, you can click on the button below to open the dropdown text and read more.
    <br>
        <br>
 <p align="center">
     <a class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#Tech">
    Technical details of the payment rule
     </a>
 </p>
        <div class="collapse" id="Tech">
  <div class="card card-body">
    The computer will draw a random number y between 0 and 100.
      Each number between 0 and 100 is equally likely to be drawn.
      You will receive Y euros if the quadratic distance between your estimate and the actual number is smaller or equal than y.
      Otherwise, you will receive 0 euros.
      This is the exact formula for the calculation of your payoff:
      <ul>
          <li>Your payoff = Y, if (x - estimate)&#178; &#8924;y </li>
          <li>Your payoff = 0, if (x - estimate)&#178; &#62;y </li>
      </ul>
      Consider the following examples.
      Suppose the actual number the sender has observed from his/her estimation device is 150 and a randomly drawn number y is 50.
      <br>
      If your estimate is 130, the quadratic distance is (130-150)&#178;= 400, which is larger than 100.
      This means you would earn 0 euros.
      <br>
      If you estimate 145, the quadratic distance is (145-150)&#178;= 25, which is smaller than 50.
      This means you would earn Z euros.
      <br>
      If you estimate 155, the quadratic distance is (155-150)&#178;= 25, which is larger than 100.
      This means you would earn Z euros.
      <br>
      If you estimate 165, the quadratic distance is (165-150)&#178;= 225 which is larger than 100.
      This means you would earn 0 euros.
      <br>
      Notice that your chances of winning depend on the absolute distance from the actual number Y, so there is no difference if you underestimate or overestimate.
      The important thing is that your estimate is close enough to the actual number y.
      The closer it is, the higher your chances are of winning Y euros.
  </div>
</div>
<br>
    If you have any questions, please raise your hand and an experimenter will come to you. If you are ready to proceed, please press “Next”.

</div>
    </div>
<div align="center">
    {{ next_button }}
</div>

{% endblock %}
