{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">

<style type="text/css">
.next {
    float: right;
    margin: 40px auto;
    }
.text-primary {
color: #322b7b!important;
    font-weight: bold;
}
.text-warning{
    font-weight: bold;
}
 .back{
    float: left;
    margin: 40px auto;
    }

    .page-header {
    margin: 0px 0 5px;
    padding: 0;
    border-bottom: none;
    text-align: center;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.nav {
    visibility: hidden;
}
</style>

{{ endblock }}
{% block scripts %}

<script src="{% static 'prev_next_button.js' %}"></script>

{% endblock %}
{{ block content }}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Tab 1
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 3 </h3>
        </div>
    <div class="card-body">
        <p>
        Dieser Teil besteht aus 10 separaten Schätzaufgaben.
        Bei jeder Aufgabe <b>müssen Sie eine unbekannte Zahl <i>x</i> schätzen und werden entsprechend der Genauigkeit Ihrer Schätzung bezahlt</b> (wie unten beschrieben).
        </p>
<h4>   Schätzaufgaben</h4>
        <p>
        Bei jeder der 10 Aufgaben wird vom Computer eine neue Zahl <i>x</i> festgelegt.
        Alle 10 Schätzaufgaben haben zwar die gleiche Struktur, sind aber völlig unabhängig voneinander.
        Das bedeutet, dass die Zahlen bei den Aufgaben in keiner Weise miteinander verbunden sind.
        Sie erhalten Informationen, die Ihnen helfen werden, die Zahl <i>x</i> zu schätzen.
        </p>
        <p>
        Alle anderen TeilnehmerInnen der Studie stehen nun vor denselben Schätzaufgaben wie Sie, mit Ausnahme von 6 zufällig ausgewählten TeilnehmerInnen.
        Wir nennen diese 6 TeilnehmerInnen "Sender".
        Jeder Sender hat einen eindeutigen Namen:
        Sender A, Sender B, Sender C, Sender D, Sender E und Sender F.
        {{ if identity == "Blau" }}
                Wichtig ist, dass Sender A, B und C zu Ihrer <span class="text-primary">Gruppe Blau</span> gehören und Sie die Aufgabe mit den Gemälden in Teil 1 gemeinsam gelöst haben.
        Sie sind gegen Sender D, E und F angetreten, die zur <span class="text-warning">Gruppe Gelb</span> gehören.
            {{ endif }}
            {{ if identity == "Gelb" }}
                Wichtig ist, dass Sender D, E und F zu Ihrer <span class="text-warning">Gruppe Gelb</span> gehören und Sie die Aufgabe mit den Gemälden in Teil 1 gemeinsam gelöst haben.
        Sie sind gegen Sender A, B und C angetreten, die zur <span class="text-primary">Gruppe Blau</span> gehören.
            {{ endif }}
        </p>
        <p>
        Die Sender haben die 10 Schätzaufgaben bereits gelöst.
        Sie haben ihre Schätzungen der Zahl <i>x</i> in jeder Schätzaufgabe angegeben, während Sie den Fragebogen in Teil 2 ausgefüllt haben.
        Die Informationen, die den Sendern dafür zur Verfügung gestellt wurden, unterscheiden sich jedoch von den Informationen, die Sie erhalten werden.
        Wir werden Ihnen zunächst erklären, welche Informationen Sie erhalten werden.
        </p>
        <p>
        <b>Sie werden die Schätzungen von 4 der 6 Sender für jede der 10 Schätzaufgaben beobachten.</b>
        Konkret beobachten Sie bei jeder Schätzaufgabe die Namen der 4 Sender, deren Gruppenzugehörigkeit und deren individuellen Schätzungen der Zahl <i>x</i> beobachten.
        Sie erhalten keine weiteren Informationen, d.h. Sie erhalten keine weiteren Informationen, d. h. Sie verlassen sich bei Ihrer eigenen Schätzung der Zahl <i>x</i> nur auf die Schätzungen der Sender.
       </p>
        <p>
        Um zu verstehen, welche Informationen die 6 Sender erhalten haben, um die Zahl <i>x</i> zu schätzen, zeigen wir Ihnen nun ihre Instruktionen.
        Beachten Sie, dass alle 6 Sender die gleichen Anweisungen hatten.
        </p>
<div class="card">
  <div class="card-header">
      <b>Instruktionen der Sender</b>
      </div>
  <div class="card-body">
      <p>
        Bei jeder der 10 Aufgaben wird vom Computer eine neue Zahl <i>x</i> festgelegt.
      Alle 10 Schätzaufgaben haben zwar die gleiche Struktur, sind aber völlig unabhängig voneinander.
      Das bedeutet, dass die Zahlen in den einzelnen Aufgaben in keiner Weise miteinander verbunden sind.
      </p>
      <p>
      Sie werden nie mit Sicherheit wissen, was die genaue Zahl <i>x</i> ist.
      Stattdessen werden Sie Informationen, die von einem Computer generiert werden, erhalten.
      Diese helfen Ihnen, x zu schätzen.
      Bei jeder Aufgabe werden Sie diese Informationen erhalten und werden dann Ihre eigene Schätzung von <i>x</i> angeben.
      Die Zahlen <i>x</i> und die Informationen für die 10 Aufgaben wurden bereits vor der Studie ermittelt.
      Im Folgenden wird Ihnen erklärt, wie die informationen generiert werden und welche davon Sie erhalten werden.
      </p>
      <p>
      Der Computer simuliert Geräte, die die gleiche Aufgabe lösen wie Sie.
      Wir werden diese Geräte "Schätzgeräte" nennen.
      Für jede Aufgabe machen 10000 Schätzgeräte ihre Schätzung der Zahl <i>x</i>.
      Die Geräte sind gut darin, diese Schätzungen zu machen.
      Sie sind unabhängig voneinander und haben alle die gleiche Qualität, d. h., sie sind gleich gut in der Schätzung der Zahl <i>x</i>.
      Die Geräte haben die folgenden Eigenschaften:
        </p>
        <ul>
            <li>Die Schätzung eines zufällig ausgewählten Schätzgeräts entspricht mit größerer Wahrscheinlichkeit der tatsächlichen Zahl <i>x</i> als jede andere Zahl.</li>
            <li>Je weiter man sich von der Zahl <i>x</i> entfernt, desto unwahrscheinlicher ist es, dass ein Schätzgerät eine solche Schätzung angibt.
                Die Wahrscheinlichkeit, dass ein Schätzgerät eine Schätzung angibt, die um 10 größer oder kleiner ist als die Zahl <i>x</i>, ist sehr gering.</li>
            <li>Der Durchschnitt der 10000 Schätzungen entspricht genau (oder fast genau) der Zahl <i>x</i>.
                Das bedeutet, dass die Schätzgeräte im Durchschnitt richtig liegen.</li>
        </ul>
       <p>
        Betrachten Sie bitte das folgende Beispiel.
      Stellen Sie sich vor, der Computer hat 280 als die tatsächliche Zahl <i>x</i> gezogen.
      Die folgende Abbildung zeigt ein Beispiel für die 10000 Schätzgeräte und ihre Schätzungen.
        </p>
        <div style="margin: auto; width: 80%; height: auto">
        <img src="{{ static 'Distr.png' }}" style="height: 100%; width:100%"/>
            </div><br>
       <p>
        Wie Sie sehen können, bilden die Schätzungen eine typische Glockenkurve.
      Die häufigste Schätzung ist genau 280. Es ist also wahrscheinlicher, dass die Schätzung eines zufällig gezogenen Schätzgerätes der tatsächlichen Zahl <i>x</i> entspricht als jede andere Zahl.
      Je weiter man sich von 280 entfernt, desto unwahrscheinlicher ist es, dass eine solche Schätzung von einem Schätzgerät angegeben wird, und Schätzungen größer als 290 und kleiner als 270 werden fast nie angegeben.
      Der Durchschnitt aller 10000 Schätzungen, der durch die blaue gestrichelte Linie dargestellt wird, beträgt 280. Der Durchschnitt ist also korrekt, d. h. er entspricht der Zahl <i>x</i>.
      </p>
      <p>
        Um Ihnen bei der Schätzung der Zahl <i>x</i> zu helfen, wird das folgende Verfahren angewendet.
      Bei jeder Schätzaufgabe wird ein Schätzgerät zufällig gezogen.
      Sie werden die Schätzung dieses Schätzgeräts beobachten.
      Das bedeutet, dass Sie sich für Ihre eigene Schätzung nur auf die Schätzung eines einzigen Schätzgeräts verlassen werden.
      Um die Informationen des Schätzgeräts bestmöglich zu nutzen, sollten Sie bedenken, dass die Schätzung eines zufällig ausgewählten Schätzgerätes mit größerer Wahrscheinlichkeit der tatsächlichen Zahl <i>x</i> entspricht als jeder anderen Zahl.
      <b>Sie können also ihre Chancen für die Auszahlung maximieren, indem Sie in jeder Schätzaufgabe genau die vom Schätzgerät angegebene Zahl angeben.</b>
      </p>
      </div>
</div>
        <p>
        Wie Sie sehen können, war die Aufgabe der Sender ziemlich einfach, und sie hatten einen Anreiz, die Zahl <i>x</i> möglichst präzise zu schätzen.
        Je näher deren Schätzungen an der Zahl <i>x</i> lagen, desto höher waren deren Chancen auf eine zusätzliche Auszahlung.
        Beachten Sie auch, dass die Sender nicht darüber informiert wurden, dass ihre Schätzungen Ihnen oder anderen TeilnehmerInnen gezeigt werden würden.
        Im Gegensatz dazu werden Ihre Schätzungen privat bleiben und keinen anderen StudienteilnehmerInnen gezeigt.
        </p>
        <p>
        Für eine genaue Schätzung der Zahl <i>x</i> ist es wichtig, dass Sie wissen, wessen Schätzungen Sie beobachten werden.
        Bei jeder Aufgabe werden sie die Schätzungen von Sender A, Sender B und Sender C und die höchste der drei Schätzungen von Sender D, Sender E und Sender F beobachten.
        Ausgehend von den Schätzungen, die Sender D, Sender E und Sender F bei den 10 Schätzaufgaben angegeben haben, haben wir festgestellt, dass die zweithöchste der drei Schätzungen im Durchschnitt {{ diff_high_mid }} niedriger ist als die höchste und die niedrigste im Durchschnitt {{ diff_high_low }} niedriger als die höchste.
        Nehmen Sie als Beispiel an, dass Sender F 49, Sender D die zweithöchste Schätzung und Sender E die niedrigste der drei Schätzungen angegeben hat.
        Dann wäre die Schätzung von Sender D im Durchschnitt um {{ diff_high_mid }} niedriger als die Schätzung von Sender F und die Schätzung von Sender E um {{ diff_high_low }} niedriger.
        Demnach wäre die Schätzung von Sender D 49-{{ diff_high_mid }} und die Schätzung von Sender E wäre 49-{{ diff_high_low }}.
        </p>
        <p>
        Nun stellen wir Ihnen ein Beispiel vor, um die Informationsstruktur zu verdeutlichen.
        Bitte beachten Sie die folgende Abbildung. Stellen Sie sich vor, dass in einer Schätzaufgabe das Schätzgerät von Sender A die Zahl 510, das Schätzgerät von Sender B die Zahl 520, das Schätzgerät von Sender C die Zahl 502, das Schätzgerät von Sender D die Zahl 512, das Schätzgerät von Sender E die Zahl 528 und das Schätzgerät von Sender F die Zahl 504 angegeben hat.
        Die Schätzung jedes Schätzgerätes wird nur von dem Sender beobachtet, der diesem Schätzgerät zugewiesen ist (wie in der Abbildung veranschaulicht).
        Nachdem jeder Sender die Schätzung des jeweils zugeordneten Schätzgerätes erhalten hat, gibt jeder Sender eine persönliche Schätzung der Zahl <i>x</i> an.
        Nehmen wir an, dass Sender E von den Sendern D, E und F die höchste Schätzung angegeben hat. Sie werden dann die Schätzungen der Sender A, B, C und E beobachten.
        </p>
                <div style="margin: auto; width: 80%; height: auto">
        <img src="{{ static 'SB.png' }}" style="height: 100%; width:100%"/>
            </div><br>
        <p>
            Um weiterhin zu verdeutlichen, wie die Schätzungen der Sender auf ihrem Bildschirm dargestellt werden, stellen Sie sich ein weiteres Beispiel vor.
            Nehmen Sie an, dass jeder Sender die Schätzung des jeweils zugeordneten Schätzgerätes erhalten hat. Sender A schätzt daraufhin die Zahl <i>x</i> auf 823, Sender B schätzt diese auf 831, Sender C schätzt diese auf 825 und Sender F schätzt diese auf 835. Sender D und E haben Schätzungen angegeben, die niedriger als die Schätzung von Sender F sind.
            In diesem Fall würden Sie das folgende Bild sehen.
        </p>
                <div style="margin: auto; width: 100%; height: auto">
        <img src="{{ static 'SI_signals_SB.png' }}" style="height: 100%; width:100%"/>
            </div><br>
        <p>
            Für jede der 10 Schätzaufgaben haben Sie 4 Minuten Zeit.
            Bei Bedarf können Sie den Stift und das Papier benutzen, die auf Ihrem Schreibtisch liegen.
        </p>
<h4>        Auszahlung        </h4>
        <p>
            Wenn dieser Teil der Studie (Teil 3) für die Bezahlung ausgewählt wird, wird eine der 10 Schätzaufgaben zufällig ausgewählt, und <b>Sie werden entsprechend der Genauigkeit Ihrer Schätzung bei dieser Aufgabe bezahlt</b>.
            Da jede Aufgabe für ihre Auszahlung ausgewählt werden kann, sollten Sie jede Aufgabe sorgfältig bearbeiten.
        </p>
        <p>
            Ihre Auszahlung wird durch folgende Regel bestimmt werden:
            <b>Je näher Ihre Schätzung an der Zahl <i>x</i> liegt, desto höher ist die Wahrscheinlichkeit, dass Sie eine zusätzliche Auszahlung von 13 € erhalten.
                Wenn Ihre Schätzung genau der Zahl <i>x</i> entspricht, werden Sie auf jeden Fall 13 € erhalten.</b>
            Die Regel ist so gestaltet, dass Sie sich die größte Chance auf die 13 € sichern können, indem Sie <b>Ihre genaueste Schätzung angeben</b>.
        </p>
        <p>
            Falls Sie an den Einzelheiten der Regel interessiert sind, beschreiben wir sie im Folgenden:
            Der Computer zieht zufällig eine Zahl zwischen 0 und 50.
            Wenn der quadratische Abstand zwischen Ihrer Schätzung und der Zahl <i>x</i> gleich oder kleiner als diese zufällig gezogene Zahl ist, erhalten Sie 13€.
            Ist er größer, erhalten Sie 0 €. Beachten Sie, dass Ihre Gewinnchancen vom quadratischen Abstand zur tatsächlichen Zahl <i>x</i> abhängen.
            Es macht also keinen Unterschied, ob Sie die Zahl <i>x</i> unter- oder überschätzen.
        </p>
        <p>
            Auch wenn diese Regel kompliziert erscheinen mag, ist das zugrunde liegende Prinzip sehr einfach:
            Je präziser Ihre Schätzung ist (d. h. je geringer der Abstand zwischen Ihrer Schätzung und der Zahl <i>x</i>), desto höher ist die Wahrscheinlichkeit, dass Sie die 13 € erhalten.
        </p>
       <h4> Zusammenfassung:</h4>
        <ul>
            <li>In diesem Teil werden Sie 10 unabhängige Schätzaufgaben lösen.
                Bei jeder Aufgabe müssen Sie eine unbekannte Zahl <i>x</i> schätzen.</li>
            <li>Sie werden nach der Genauigkeit Ihrer Schätzungen bezahlt.</li>
            <li>In jeder Aufgabe werden Sie die Schätzungen von 4 Sendern beobachten.
                Das heißt, Sie werden die Schätzungen von Sender A, Sender B, Sender C und die höchste der Schätzungen von Sender D, Sender E und Sender F beobachten.
                Basierend auf den Schätzungen von Sender D, Sender E und Sender F in den 10 Schätzaufgaben ist die zweithöchste Schätzung im Durchschnitt y niedriger als die höchste und die niedrigste Schätzung ist im Durchschnitt x niedriger als die höchste Schätzung.</li>
            <li>{{ if identity == "Blau" }}
                Die Sender A, B und C sind Mitglieder Ihrer <span class="text-primary">Gruppe Blau</span>, während die Sender D, E und F Mitglieder der <span class="text-warning">Gruppe Gelb</span> sind.
                In Teil 1 des Experiments sind Sie und die Sender A, B, C gegen die Sender D, E und F angetreten.
            {{ endif }}
            {{ if identity == "Gelb" }}
                Die Sender D, E und F sind Mitglieder Ihrer <span class="text-warning">Gruppe Gelb</span>, während die Sender A, B und C Mitglieder der <span class="text-primary">Gruppe Blau</span> sind.
                In Teil 1 des Experiments sind Sie und die Sender D, E, F gegen die Sender A, B und C angetreten.
            {{ endif }}</li>
            <li>Jeder Sender hat die Zahl <i>x</i> geschätzt und wurde entsprechend seiner Genauigkeit bezahlt.</li>
            <li>Jeder Sender beobachtete die Schätzung eines Schätzgerätes.</li>
            <li>Jedes Schätzgerät hat die folgenden Eigenschaften:
            <ul>
                <li>Die Schätzung eines zufällig gezogenen Schätzgerätes entspricht mit größerer Wahrscheinlichkeit der tatsächlichen Zahl <i>x</i> als jeder anderen Zahl.</li>
                <li>Je weiter man sich von der Zahl <i>x</i> entfernt, desto unwahrscheinlicher ist es, dass ein Schätzgerät eine solche Schätzung angibt.
                    Die Wahrscheinlichkeit, dass ein Schätzgerät eine Schätzung angibt, die um 10 größer oder kleiner als die Zahl <i>x</i> ist, ist sehr gering.</li>
                <li>Der Durchschnitt der 10000 Schätzungen entspricht genau (oder fast genau) der Zahl <i>x</i>.
                    Das bedeutet, dass die Schätzgeräte im Durchschnitt richtig sind.</li>
            </ul></li>
        </ul>
        <p>
       Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
        Wenn Sie bereit sind, drücken Sie bitte auf "Weiter".
        </p>
 </div>
</div>
<button onclick="topFunction()" id="tab1_next" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>




       <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2 - Verständnisfragen
 </h3>
        </div>
    <div class="card-body">
        <br>
    <div class="alert alert-primary" role="alert">
 <strong> Bevor Sie mit der Aufgabe fortfahren, bitten wir Sie, die folgenden Fragen zum Verständnis zu beantworten.
     Falls Sie die Anweisungen zu Teil 2 erneut lesen möchten, können Sie auf "Zurück" am Ende der Seite klicken.
     Sollten Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird sich an Sie wenden.</strong>
</div>
<p style="font-weight: bold">
    1.) Welche Informationen haben die Sender bei jeder Schätzaufgabe erhalten, um die Zahl <i>x</i> zu schätzen?</p>
{{ formfield 'comprq7' }}
<br><hr>
        <p style="font-weight: bold">
    2.) Welche Informationen erhalten Sie bei jeder Schätzungsaufgabe, um die Zahl <i>x</i> zu schätzen?</p>
{{ formfield 'comprq8' }}
<br><hr>
                <p style="font-weight: bold">
    3.) Welche Sender sind Mitglieder der X Gruppe (Ihrer Gruppe) und welche der Y Gruppe?</p>
{{ formfield 'comprq11' }}
<br><hr>
        <p style="font-weight: bold">
    4.) Bitte geben Sie an, welche dieser Aussagen zu den Schätzungen der Schätzgeräte zutreffen.</p>
{{ formfield 'comprq9' }}
<br><hr>
        <p style="font-weight: bold">
    5.) Bitte geben Sie an, welche dieser Aussagen zu den Schätzungen der Schätzgeräte zutreffen.</p>
{{ formfield 'comprq10' }}
<br><hr>
<p style="font-weight: bold">
    6.) Angenommen, in einer Schätzaufgabe hat das von einem Sender beobachtete Schätzgerät eine Schätzung von 19 angegeben.
    Welche Zahl hätte der Sender angesichts dieser Information angeben sollen, um seine Chancen auf eine zusätzliche Zahlung zu maximieren?
</p>
{{ formfield 'comprq12' }}
<br><hr>
        <p style="font-weight: bold">
    7.) Angenommen, in einer Schätzaufgabe beträgt die Zahl <i>x</i> 1520, und Sie geben 1520 als Ihre Schätzung der Zahl <i>x</i> an.
            Wie hoch sind Ihre Chancen, die zusätzliche Auszahlung zu erhalten?</p>
{{ formfield 'comprq13' }}

    </div>
</div>
  <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button class="nexttab btn-primary btn next">Weiter</button>
  </div>
</div>

<script>

     document.getElementById("tab1_next").onclick = function clicked(){
    	window.location.hash = 'reload';

    }
    //When the document has loaded, call the function
    window.onload = function() {
    	if(window.location.hash === "#reload"){
    		document.getElementById("part1").classList.remove("show")
            document.getElementById("part1").classList.remove("active")
            document.getElementById("part1-tab").classList.remove("active")
            document.getElementById("part2").classList.add("show")
            document.getElementById("part2").classList.add("active")
            document.getElementById("part2-tab").classList.add("active")
    	}
    };

</script>
{% endblock %}