{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Teil 1
    </h3>
<br>
    <p>
        In diesem Teil tritt Ihre Gruppe {{ identity }} bei der folgenden Aufgabe gegen die Gruppe
        {{ if identity == "Blau" }}
        Gelb
        {{ endif }}
        {{ if identity == "Gelb" }}
        Blau
        {{ endif }}
        an.
        Zunächst werden allen Teilnehmern 10 Gemälde von zwei Künstlern gezeigt.
        Sie haben 4 Minuten Zeit, um diese Gemälde zu betrachten.
        Anschließend werden alle Teilnehmer gebeten, Fragen zu 4 anderen Gemälden zu beantworten.
        Wir werden die Gesamtzahl der richtigen Antworten für jede Gruppe berechnen.
        Alle Mitglieder der Gruppe, die mehr richtige Antworten als die jeweils andere Gruppe eingereicht hat, gewinnen einen Geldpreis von 16€.
        Alle Mitglieder der Gruppe, die weniger richtige Antworten als die jeweils andere Gruppe eingereicht hat, gewinnen keinen Geldpreis.
        Wenn beide Gruppen die gleiche Anzahl richtiger Antworten haben, wird die Gewinnergruppe zufällig ausgewählt:
        Jede Gruppe hat eine Gewinnwahrscheinlichkeit von 50 Prozent.
        Ob Ihre Gruppe mehr oder weniger richtige Antworten als die andere Gruppe erreicht hat, wird am Ende dieser Studie bekannt gegeben.

        </p>
    <p>
        <strong>Wenn Sie bereit sind, drücken Sie bitte auf "Weiter".</strong>
    </p>
   </div>
</div>
<br>
<div align="center">
    {{ next_button }}
</div>
{% endblock %}
