{% extends "global/Page.html" %}
{% load otree static %}

{{block styles }}
<link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
    <style type="text/css">
        label {
            padding-right: 13%;
            margin-top: 3%;
        }
        .form-check-inline {
            width: 13%;
        }
    </style>

{% endblock %}

{% block content %}
<div class="card bg-light instructions">
        <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 3.) </h3>
        </div>
    <div class="card-body">
    <p>
        Im Folgenden findest du eine Reihe von Beschreibungen, die auf dich zutreffen können oder nicht. Trifft es beispielsweise zu, dass du jemand bist, der gerne Zeit mit anderen verbringt?
        Bitte verwende eine Skala von 1 bis 5, um anzuzeigen, wie sehr diese Aussage auf dich
        zutrifft oder nicht zutrifft. 1 bedeutet "trifft überhaupt nicht zu" und 5 "trifft sehr gut zu".
        Du kannst auch jede Zahl zwischen 1 und 5 verwenden, um anzugeben, wo du dich auf der Skala siehst, indem du (die Zahlen) 1, 2, 3, 4 oder 5 verwendest.
    </p>
    <hr>
    <br />

    <table>
        <tr>
                <td><b>Ich bin jemand, der ...</b></td>
                <td width="15%"></td>
                <td><p style="margin-left: 0px; font-size: 11pt; text-align:left; "><b>Trifft überhaupt</b> <br><b>nicht zu</b></p> </td>
                <td><p style="margin-right: 0px; font-size: 11pt; text-align:right;padding-right: 35px"><b>Trifft</b> <br><b>sehr gut zu</b></p></td>
        </tr>
        <tr>
            <td style="width: 50%; padding-right:20px;">erfinderisch und einfallsreich ist</td>
            <td></td>
            <td colspan="2" width="40%">{% formfield player.B_25 %}</td>
        </tr>
        <tr>
            <td>durchsetzungsfähig und energisch ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_26 %}</td>
        </tr>
        <tr>
            <td>sich kalt und distanziert verhalten kann</td>
            <td></td>
            <td colspan="2">{% formfield player.B_27 %}</td>
        </tr>
        <tr>
            <td>nicht aufgibt, ehe die Aufgabe erledigt ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_28 %}</td>
        </tr>
        <tr>
            <td>launisch sein kann, schwankende Stimmungen hat</td>
            <td></td>
            <td colspan="2">{% formfield player.B_29 %}</td>
        </tr>
        <tr>
            <td>künstlerische und ästhetische Eindrücke schätzt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_30 %}</td>
        </tr>
        <tr>
            <td>manchmal schüchtern und gehemmt ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_31 %}</td>
        </tr>
        <tr>
            <td>rücksichtsvoll und einfühlsam zu anderen ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_32 %}</td>
        </tr>
        <tr>
            <td>tüchtig ist und flott arbeitet</td>
            <td></td>
            <td colspan="2">{% formfield player.B_33 %}</td>
        </tr>
        <tr>
            <td> ruhig bleibt, selbst in angespannten Situationen</td>
            <td></td>
            <td colspan="2">{% formfield player.B_34 %}</td>
        </tr>
        <tr>
            <td>routinemäßige und einfache Aufgaben bevorzugt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_35 %}</td>
        </tr>
        <tr>
            <td>aus sich herausgeht, gesellig ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_36 %}</td>
        </tr>
    </table>
         </div>
     </div>

<div align="center">
    {{ next_button }}
</div>

{% endblock %}