{% extends "global/Page.html" %}
{% load otree static %}

{{block styles }}
<link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
    <style type="text/css">
        label {
            padding-right: 13%;
            margin-top: 3%;
        }
        .form-check-inline {
            width: 13%;
        }
    </style>

{% endblock %}

{% block content %}
<div class="card bg-light instructions">
        <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 4 </h3>
        </div>
    <div class="card-body">
    <p>
        Im Folgenden finden Sie eine Reihe von Beschreibungen, die auf Sie zutreffen können oder nicht. Trifft es beispielsweise zu, dass Sie jemand sind, der gerne Zeit mit anderen verbringt?
        Bitte verwenden Sie eine Skala von 1 bis 5, um anzuzeigen, wie sehr diese Aussage auf Sie zutreffen oder nicht zutreffen. 1 bedeutet "trifft überhaupt nicht zu" und 5 "trifft sehr gut zu".
        Sie können auch jede Zahl zwischen 1 und 5 verwenden, um anzugeben, wo Sie sich auf der Skala sehen, indem Sie (die Zahlen) 1, 2, 3, 4 oder 5 verwenden.
    </p>
    <hr>
    <br />

    <table>
        <tr>
            <td><b>Ich bin jemand, der ...</b></td>
            <td width="15%"></td>
            <td><p style="margin-left: 0px; font-size: 11pt; text-align:left; "><b>Trifft überhaupt</b> <br><b>nicht zu</b></p> </td>
            <td><p style="margin-right: 0px; font-size: 11pt; text-align:right; padding-right: 35px"><b>Trifft</b> <br><b>sehr gut zu</b></p></td>
        </tr>
        <tr>
            <td style="width: 50%; padding-right:20px;">schroff und abweisend zu anderen sein kann</td>
            <td></td>
            <td colspan="2">{% formfield player.B_37 %}</td>
        </tr>
        <tr>
            <td>Pläne macht und diese auch durchführt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_38 %}</td>
        </tr>
        <tr>
            <td>leicht nervös und unsicher wird</td>
            <td></td>
            <td colspan="2">{% formfield player.B_39 %}</td>
        </tr>
        <tr>
            <td>gerne Überlegungen anstellt, mit Ideen spielt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_40 %}</td>
        </tr>
        <tr>
            <td>nur wenig künstlerische Interessen hat</td>
            <td></td>
            <td colspan="2">{% formfield player.B_41 %}</td>
        </tr>
        <tr>
            <td>sich kooperativ verhält, Zusammenarbeit dem Wettbewerb vorzieht</td>
            <td></td>
            <td colspan="2">{% formfield player.B_42 %}</td>
        </tr>
        <tr>
            <td>leicht ablenkbar ist, nicht bei der Sache bleibt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_43 %}</td>
        </tr>
        <tr>
            <td>sich gut in Musik, Kunst und Literatur auskennt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_44 %}</td>
        </tr>
    </table>
         </div>
     </div>

<div align="center">
    {{ next_button }}
</div>
{% endblock %}