{% extends "global/Page.html" %}
{% load otree static %}

{{block styles }}
<link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
    <style type="text/css">
        label {
            padding-right: 13%;
            margin-top: 3%;
        }
        .form-check-inline {
            width: 13%;
        }
    </style>

{% endblock %}

{% block content %}
<div class="card bg-light instructions">
        <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 3.) </h3>
        </div>
    <div class="card-body">
    <p>
        Im Folgenden findest du eine Reihe von Beschreibungen, die auf dich zutreffen können oder nicht. Trifft es beispielsweise zu, dass du jemand bist, der gerne Zeit mit anderen verbringt?
        Bitte verwende eine Skala von 1 bis 5, um anzuzeigen, wie sehr diese Aussage auf dich
        zutrifft oder nicht zutrifft. 1 bedeutet "trifft überhaupt nicht zu" und 5 "trifft sehr gut zu".
        Du kannst auch jede Zahl zwischen 1 und 5 verwenden, um anzugeben, wo du dich auf der Skala siehst, indem du (die Zahlen) 1, 2, 3, 4 oder 5 verwendest.
    </p>
    <hr>
    <br />

    <table>
        <tr>
            <td><b>Ich bin jemand, der ...</b></td>
            <td width="15%"></td>
            <td><p style="margin-left: 0px; font-size: 11pt; text-align:left; "><b>Trifft überhaupt</b> <br><b>nicht zu</b></p> </td>
            <td><p style="margin-right: 0px; font-size: 11pt; text-align:right;padding-right: 50px"><b>Trifft</b> <br><b>sehr gut zu</b></p></td>
        </tr>
        <tr>
            <td>zuverlässig und gewissenhaft arbeitet</td>
            <td></td>
            <td colspan="2"  style="width: 40%;">{% formfield player.B_13 %}</td>
        </tr>
        <tr>
            <td>leicht angespannt reagiert</td>
            <td></td>
            <td colspan="2">{% formfield player.B_14 %}</td>
        </tr>
        <tr>
            <td>tiefsinnig ist, gerne über Sachen nachdenkt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_15 %}</td>
        </tr>
        <tr>
            <td>begeisterungsfähig ist und andere mitreißen kann</td>
            <td></td>
            <td colspan="2">{% formfield player.B_16 %}</td>
        </tr>
        <tr>
            <td>nicht nachtragend ist, anderen leicht vergibt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_17 %}</td>
        </tr>
        <tr>
            <td>dazu neigt, unordentlich zu sein</td>
            <td></td>
            <td colspan="2">{% formfield player.B_18 %}</td>
        </tr>
        <tr>
            <td style="padding-right:20px;">sich viele Sorgen macht</td>
            <td></td>
            <td colspan="2">{% formfield player.B_19 %}</td>
        </tr>
        <tr>
            <td>eine lebhafte Vorstellungskraft hat, phantasievoll ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_20 %}</td>
        </tr>
        <tr>
            <td>eher still und wortkarg ist</td>
            <td></td>
            <td colspan="2">{% formfield player.B_21 %}</td>
        </tr>
        <tr>
            <td>anderen Vertrauen schenkt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_22 %}</td>
        </tr>
        <tr>
            <td>bequem ist und zur Faulheit neigt</td>
            <td></td>
            <td colspan="2">{% formfield player.B_23 %}</td>
        </tr>
        <tr>
            <td>ausgeglichen ist, nicht leicht aus der Fassung zu bringen</td>
            <td></td>
            <td colspan="2">{% formfield player.B_24 %}</td>
        </tr>
    </table>
         </div>
     </div>

<div align="center">
    {{ next_button }}
</div>

{% endblock %}