{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">

 <style>
   input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 75%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}
    </style>


{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Part 4 - First additional Task
    </h3>
<br>
<br>

        On previous task you stated that, out of the 10 estimation tasks, you think that senders have stated what their assigned estimation devices have shown them the following amount of times:




      <br>
      <br>

<div class="row row-cols-1 row-cols-md-6 g-2" align="center">
  <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender A
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trust_sender_1}} out of {{n_rec_signals_sender_1}}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender B
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trust_sender_2}} out of {{n_rec_signals_sender_2}}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender C
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trust_sender_3}} out of {{n_rec_signals_sender_3}}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender D
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trust_sender_4}} out of {{n_rec_signals_sender_4}}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender E
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trust_sender_5}} out of {{n_rec_signals_sender_5}}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender F
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ trust_sender_6}} out of {{n_rec_signals_sender_6}}</li>
  </ul>
</div>
    </div>
</div>

<br>
<br>



      Please indicate, for each sender, how certain are you in your answers.
      To do that, use the sliders to complete the statements below.
      In case you want to remind yourself of what the senders were stating across the 10 estimation tasks, you can look at the table at the bottom of the screen.
        <br>
        <br>
        <br>
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
             Sender A
            </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider1" name="trust_sender_1_conf" min="0" step="1"  oninput="update1(parseInt(this.value)); update()">
            <br>
             <br>

            <div id="label_slider1"></div>
        </div>
        <br>
        <hr>
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender B</b>
                </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider2" name="trust_sender_2_conf" min="0" step="1"  oninput="update2(parseInt(this.value)); update()">
            <br>
            <br>
            <div id="label_slider2"></div>
        </div>
        <br>
        <hr>
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender C</b>
                </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider3" name="trust_sender_3_conf" min="0" step="1"  oninput="update3(parseInt(this.value)); update()">
            <br>
            <br>
            <div id="label_slider3"></div>
        </div>
        <br>
        <hr>
        {{ if n_rec_signals_sender_4 > 0}}
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender D</b>
                </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider4" name="trust_sender_4_conf" min="0" step="1"  oninput="update4(parseInt(this.value)); update()">

            <br>
            <br>
            <div id="label_slider4"></div>
        </div>
        {{ endif}}
        <br>
        <hr>
        {{ if n_rec_signals_sender_5 > 0}}
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender E</b>
                </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider5" name="trust_sender_5_conf" min="0" step="1"  oninput="update5(parseInt(this.value)); update()">
            <br>
            <br>
            <div id="label_slider5"></div>
        </div>
        {{ endif }}
        <br>
        <hr>
         {{ if n_rec_signals_sender_6 > 0}}
        <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender F</b>
                </div></div>
            <br>
            <i style="font-weight: bold; float: left">very <br> uncertain</i> <i style="font-weight: bold; float: right">completey <br> certain</i>
          <input type="range" id="slider6" name="trust_sender_6_conf" min="0" step="1"  oninput="update6(parseInt(this.value)); update()">
            <br>
            <br>
            <div id="label_slider6"></div>
        </div>
         {{ endif }}
        <br>
        <br>
        <br>

When you have finished with the task, please press “Next” below.
        The "Next" button only becomes visible if you submitted a choice in all sliders above.
    <br>
      <br>
<div align="center">
    <button  class="otree-btn-next btn btn-primary" id="nextbtn" style="visibility:hidden">Next</button>
</div>
          </div>
</div>



<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        History of Signals
    </h3>
<table class="table table-hover table-striped ">
  <thead>
    <tr>
      <th scope="col">Estimation Task</th>
      <th scope="col">Sender A</th>
      <th scope="col">Sender B</th>
      <th scope="col">Sender C</th>
      <th scope="col">Sender D</th>
      <th scope="col">Sender E</th>
      <th scope="col">Sender F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
    {{ for p in signals_round_1 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
      <tr>
      <th scope="row">2</th>
    {{ for p in signals_round_2 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">3</th>
    {{ for p in signals_round_3 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">4</th>
    {{ for p in signals_round_4 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">5</th>
    {{ for p in signals_round_5 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">6</th>
    {{ for p in signals_round_6 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">7</th>
    {{ for p in signals_round_7 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">8</th>
    {{ for p in signals_round_8 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">9</th>
    {{ for p in signals_round_9 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">10</th>
    {{ for p in signals_round_10 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
  </tbody>
</table>

    </div>
</div>
<script>
        window.onload = function setInitials() {
            check1 = 0
            check2 = 0
            check3 = 0
            check4 = 0
            check5 = 0
            check6 = 0
            document.getElementById("label_slider1").innerHTML= "Please submit a choice via the slider."
            document.getElementById("label_slider2").innerHTML= "Please submit a choice via the slider."
            document.getElementById("label_slider3").innerHTML= "Please submit a choice via the slider."
            document.getElementById("slider1").max = js_vars.n_rec_signals_sender_1
            document.getElementById("slider1").min = Math.min(js_vars.trust_sender_1, js_vars.n_rec_signals_sender_1 - js_vars.trust_sender_1)
            document.getElementById("slider1").value = 0
            document.getElementById("slider2").max = js_vars.n_rec_signals_sender_2
            document.getElementById("slider2").min = Math.min(js_vars.trust_sender_2, js_vars.n_rec_signals_sender_2 - js_vars.trust_sender_2)
            document.getElementById("slider2").value = 0
            document.getElementById("slider3").max = js_vars.n_rec_signals_sender_3
            document.getElementById("slider3").min = Math.min(js_vars.trust_sender_3, js_vars.n_rec_signals_sender_3 - js_vars.trust_sender_3)
            document.getElementById("slider3").value = 0
            if (js_vars.n_rec_signals_sender_4>0) {
            document.getElementById("label_slider4").innerHTML= "Please submit a choice via the slider."
            document.getElementById("slider4").max = js_vars.n_rec_signals_sender_4
                document.getElementById("slider4").min = Math.min(js_vars.trust_sender_4, js_vars.n_rec_signals_sender_4 - js_vars.trust_sender_4)
            document.getElementById("slider4").value = 0}
            if (js_vars.n_rec_signals_sender_5>0) {
            document.getElementById("label_slider5").innerHTML= "Please submit a choice via the slider."
            document.getElementById("slider5").max = js_vars.n_rec_signals_sender_5
                document.getElementById("slider5").min = Math.min(js_vars.trust_sender_5, js_vars.n_rec_signals_sender_5 - js_vars.trust_sender_5)
            document.getElementById("slider5").value = 0}
            if (js_vars.n_rec_signals_sender_6>0) {
            document.getElementById("label_slider6").innerHTML= "Please submit a choice via the slider."
            document.getElementById("slider6").max = js_vars.n_rec_signals_sender_6
            document.getElementById("slider6").min = Math.min(js_vars.trust_sender_6, js_vars.n_rec_signals_sender_6 - js_vars.trust_sender_6)
            }}


            function update1(value){
                check1 = 1
                 if (value === js_vars.n_rec_signals_sender_1){
                    document.getElementById("label_slider1").innerHTML = "I am certain Sender A has stated the number that his estimation device has shown him exactly " + js_vars.trust_sender_1 +" times"
                }
                else {
                    document.getElementById("label_slider1").innerHTML = "I am certain Sender A has stated the number that his estimation device has shown him between " +
                        Math.max(0, js_vars.trust_sender_1 - (js_vars.n_rec_signals_sender_1 - value)) + " and "
                        + Math.min(js_vars.trust_sender_1 + (js_vars.n_rec_signals_sender_1 - value) , js_vars.n_rec_signals_sender_1) + " times."
                }
            }
            function update2(value){
                check2 = 1
                if (value === js_vars.n_rec_signals_sender_2){
                    document.getElementById("label_slider2").innerHTML = "I am certain Sender B has stated the number that his estimation device has shown him exactly " +
                        js_vars.trust_sender_2 +" times"
                }
                else {
                    document.getElementById("label_slider2").innerHTML = "I am certain Sender B has stated the number that his estimation device has shown him between " +
                        Math.max(0,js_vars.trust_sender_2 - (js_vars.n_rec_signals_sender_2 - value)) + " and "
                        + Math.min(js_vars.trust_sender_2 + (js_vars.n_rec_signals_sender_2 - value) , js_vars.n_rec_signals_sender_2) + " times."
                }
            }

            function update3(value){
                check3 = 1
                if (Math.max(js_vars.trust_sender_3 - value, 0) === Math.min(js_vars.trust_sender_3 + value, js_vars.n_rec_signals_sender_3)){
                    document.getElementById("label_slider3").innerHTML = "I am certain Sender C has stated the number that his estimation device has shown him exactly " +
                        js_vars.trust_sender_3 +" times"
                }
                else {
                    document.getElementById("label_slider3").innerHTML = "I am certain Sender C has stated the number that his estimation device has shown him between " +
                        Math.max(0,js_vars.trust_sender_3 - (js_vars.n_rec_signals_sender_3 - value)) + " and "
                        + Math.min(js_vars.trust_sender_3 + (js_vars.n_rec_signals_sender_3 - value) , js_vars.n_rec_signals_sender_3) + " times."
                }
            }
            function update4(value){
                check4 = 1
                if (Math.max(js_vars.trust_sender_4 - value, 0) === Math.min(js_vars.trust_sender_4 + value, js_vars.n_rec_signals_sender_4)){
                    document.getElementById("label_slider4").innerHTML = "I am certain Sender D has stated the number that his estimation device has shown him exactly " +
                        js_vars.trust_sender_4 +" times"
                }
                else {
                    document.getElementById("label_slider4").innerHTML = "I am certain Sender D has stated the number that his estimation device has shown him between " +
                        Math.max(0,js_vars.trust_sender_4 - (js_vars.n_rec_signals_sender_4 - value)) + " and "
                        + Math.min(js_vars.trust_sender_4 + (js_vars.n_rec_signals_sender_4 - value) , js_vars.n_rec_signals_sender_4) + " times."
                }
            }

            function update5(value){
                check5 = 1
                if (Math.max(js_vars.trust_sender_5 - value, 0) === Math.min(js_vars.trust_sender_5 + value, js_vars.n_rec_signals_sender_5)){
                    document.getElementById("label_slider5").innerHTML = "I am certain Sender E has stated the number that his estimation device has shown him exactly " +
                        js_vars.trust_sender_5 +" times"
                }
                else {
                    document.getElementById("label_slider5").innerHTML = "I am certain Sender E has stated the number that his estimation device has shown him between " +
                        Math.max(0,js_vars.trust_sender_5 - (js_vars.n_rec_signals_sender_5 - value)) + " and "
                        + Math.min(js_vars.trust_sender_5 + (js_vars.n_rec_signals_sender_5 - value) , js_vars.n_rec_signals_sender_5) + " times."
                }
            }
            function update6(value){
                check6 = 1
                if (Math.max(js_vars.trust_sender_6 - value, 0) === Math.min(js_vars.trust_sender_6 + value, js_vars.n_rec_signals_sender_6)){
                    document.getElementById("label_slider6").innerHTML = "I am certain Sender F has stated the number that his estimation device has shown him exactly " +
                        js_vars.trust_sender_6 +" times"
                }
                else {
                    document.getElementById("label_slider6").innerHTML = "I am certain Sender F has stated the number that his estimation device has shown him between " +
                        Math.max(0,js_vars.trust_sender_6 - (js_vars.n_rec_signals_sender_6 - value)) + " and "
                        + Math.min(js_vars.trust_sender_6 + (js_vars.n_rec_signals_sender_6 - value) , js_vars.n_rec_signals_sender_6) + " times."
                }
            }
            function update(){
                 if (check1 === 1 && check2 === 1 && check3 === 1 && (check4 === 1 || js_vars.n_rec_signals_sender_4 === 0) && (check5 === 1 || js_vars.n_rec_signals_sender_5 === 0
                     && (check6 === 1 || js_vars.n_rec_signals_sender_6 === 0))) {
            document.getElementById("nextbtn").style.visibility="visible";}}
        </script>
{% endblock %}