{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
<style type="text/css">
td, th {
  text-align: center;
}
</style>
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Teil 4 - Frage 3
    </h3>
<br>
<br>
       Bitte geben Sie Ihre Antworten auf Frage 3 unten an.
        Falls Sie die Anweisungen zu Frage 3 erneut lesen möchten, können Sie auf "Zurück" am Ende der Seite klicken.
        Nachfolgend finden Sie eine Übersicht mit den Schätzungen, die von jedem Sender für die 10 Schätzaufgaben angegeben wurden.

      {{ if mistrust_sender_1 > 0}}
      <br>
      <br>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender A</b>
                </div></div>
           Sie haben angegeben, dass Sender A bei {{ mistrust_sender_1}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender A tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_1 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select class=\"Sender1\" required id=\"sender_1_correction_", i, "_inround_select\" onchange=\"dis_option1()\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_1_correction_", i, "_inround\" id=\"sender_1_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_1_correction_", i, "_actually\" id=\"sender_1_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            $('body').on('propertychange input', 'input', function() {
            var inputVal = $(this).val();
            if( isNaN(Number(inputVal)) ) {
                  this.value = this.hasOwnProperty("oldValue") ? this.oldValue : '';
            } else {
                  this.oldValue = inputVal;
            }
            });


            function dis_option1() {
                var arraySelects = document.getElementsByClassName('Sender1');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                }
                }

          </script>
          </table>
       </div>
      {{ endif }}


      {{ if mistrust_sender_2 > 0}}
      <br>
      <br>
        <hr>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender B</b>
                </div></div>
           Sie haben angegeben, dass Sender B bei {{ mistrust_sender_2}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender B tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_2 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select required class=\"Sender2\" id=\"sender_2_correction_", i, "_inround_select\" onchange=\"dis_option2()\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_2_correction_", i, "_inround\" id=\"sender_2_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_2_correction_", i, "_actually\" id=\"sender_2_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            function dis_option2() {
                var arraySelects = document.getElementsByClassName('Sender2');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                }
                }
          </script>
          </table>
       </div>
      {{ endif }}


      {{ if mistrust_sender_3 > 0}}
      <br>
      <br>
        <hr>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender C</b>
                </div></div>
           Sie haben angegeben, dass Sender C bei {{ mistrust_sender_3}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender C tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_3 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select required class=\"Sender3\" id=\"sender_3_correction_", i, "_inround_select\" onchange=\"dis_option3()\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_3_correction_", i, "_inround\" id=\"sender_3_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_3_correction_", i, "_actually\" id=\"sender_3_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            function dis_option3() {
                var arraySelects = document.getElementsByClassName('Sender3');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                }
                }
          </script>
          </table>
       </div>
      {{ endif }}


      {{ if mistrust_sender_4 > 0}}
      <br>
      <br>
        <hr>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender D</b>
                </div></div>
           Sie haben angegeben, dass Sender D bei {{ mistrust_sender_4}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender D tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_4 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select required class=\"Sender4\" id=\"sender_4_correction_", i, "_inround_select\" onchange=\"dis_option4()\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_4_correction_", i, "_inround\" id=\"sender_4_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_4_correction_", i, "_actually\" id=\"sender_4_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            function dis_option4() {
                var arraySelects = document.getElementsByClassName('Sender4');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                    censored_options_4();
                }
                }

            function censored_options_4() {
                for(var i = 1; i < js_vars.mistrust_sender_4 + 1 ; i++) {
                    var dropdown = document.getElementById(["sender_4_correction_", i, "_inround_select"].join(""))
                    for (var m = 1; m < dropdown.length; m++) {
                        for(var j = 0; j <= js_vars.censored_signals_sender_4.length ; j++){
                            if (dropdown.options[m].value == js_vars.censored_signals_sender_4[j] + 1){
                            dropdown.options[m].disabled = true;}
                          }}
                        }}
          </script>
          </table>
       </div>
      {{ endif }}


      {{ if mistrust_sender_5 > 0}}
      <br>
      <br>
        <hr>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender E</b>
                </div></div>
           Sie haben angegeben, dass Sender E bei {{ mistrust_sender_5}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender E tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_5 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select required class=\"Sender5\" id=\"sender_5_correction_", i, "_inround_select\" onchange=\"dis_option5();\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_5_correction_", i, "_inround\" id=\"sender_5_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_5_correction_", i, "_actually\" id=\"sender_5_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            function dis_option5() {
                var arraySelects = document.getElementsByClassName('Sender5');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                    censored_options_5();
                }
                }

            function censored_options_5() {
                for(var i = 1; i < js_vars.mistrust_sender_5 + 1 ; i++) {
                    var dropdown = document.getElementById(["sender_5_correction_", i, "_inround_select"].join(""))
                    for (var m = 1; m < dropdown.length; m++) {
                        for(var j = 0; j <= js_vars.censored_signals_sender_5.length ; j++){
                            if (dropdown.options[m].value == js_vars.censored_signals_sender_5[j] + 1){
                            dropdown.options[m].disabled = true;}
                          }}
                        }}
          </script>
          </table>
       </div>
      {{ endif }}

      {{ if mistrust_sender_6 > 0}}
      <br>
      <br>
        <hr>
       <div align="center">
            <div class="card" style="width: 20%">
            <div class="card-header" style="font-weight: bold">
            <b>Sender F</b>
                </div></div>
           Sie haben angegeben, dass Sender F bei {{ mistrust_sender_6}} Schätzaufgaben nicht die Zahl berichtet hat, die er zuvor gesehen hat.
            Bitte geben Sie an, bei welchen Schätzaufgaben dies Ihrer Meinung nach der Fall ist, und tragen Sie ein, welche Zahl er Ihrer Meinung nach tatsächlich gesehen hat:
        <table class="table table-hover">
        <tr>
          <th scope="col">Schätzaufgabe</th>
          <th scope="col"> Zahl, die Sender F tatsächlich gesehen hat</th>
        </tr>
          <script>
            for(var i = 1; i < js_vars.mistrust_sender_6 + 1 ; i++) {
              document.write("<tr>");
              document.write(["<td><select required class=\"Sender6\" id=\"sender_6_correction_", i, "_inround_select\" onchange=\"dis_option6()\">" +
              "<option value=>--------</option>" +
                      "<option value=1>1</option>" +
                      "<option value=2>2</option>" +
                      "<option value=3>3</option>" +
                      "<option value=4>4</option>" +
                      "<option value=5>5</option>" +
                      "<option value=6>6</option>" +
                      "<option value=7>7</option>" +
                      "<option value=8>8</option>" +
                      "<option value=9>9</option>" +
                      "<option value=10>10</option></select></td>"].join(''));
              document.write(["<input required name=\"sender_6_correction_", i, "_inround\" id=\"sender_6_correction_", i,"_inround\" type=\"hidden\">"].join(''));
              document.write(["<td><input required name=\"sender_6_correction_", i, "_actually\" id=\"sender_6_correction_", i,"_actually\"></td>"].join(''));
              document.write("</tr>");}

            function dis_option6() {
                var arraySelects = document.getElementsByClassName('Sender6');
                for (var j = 0; j < arraySelects.length; j++) {
                    for (var i = 0; i < arraySelects[j].options.length; i++) {
                        arraySelects[j].options[i].disabled = false;}}
                for (var m = 0; m < arraySelects.length; m++) {
                    var selectedOption = arraySelects[m].selectedIndex;
                    for (var k = 0; k < arraySelects.length; k++) {
                        arraySelects[k].options[selectedOption].disabled = true;}
                    update();
                    censored_options_6();
                }
                }

            function censored_options_6() {
                for(var i = 1; i < js_vars.mistrust_sender_6 + 1 ; i++) {
                    var dropdown = document.getElementById(["sender_6_correction_", i, "_inround_select"].join(""))
                    for (var m = 1; m < dropdown.length; m++) {
                        for(var j = 0; j <= js_vars.censored_signals_sender_6.length ; j++){
                            if (dropdown.options[m].value == js_vars.censored_signals_sender_6[j] + 1){
                            dropdown.options[m].disabled = true;}
                          }}
                        }}
          </script>
          </table>
       </div>
      {{ endif }}

      <br>
      <br>
        <br>


            <h3>
        Historie der beobachteten Schätzungen
    </h3>
<table class="table table-hover table-striped ">
  <thead>
    <tr>
      <th scope="col">Schätzaufgabe</th>
      <th scope="col">Sender A</th>
      <th scope="col">Sender B</th>
      <th scope="col">Sender C</th>
      <th scope="col">Sender D</th>
      <th scope="col">Sender E</th>
      <th scope="col">Sender F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
    {{ for p in signals_round_1 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
      <tr>
      <th scope="row">2</th>
    {{ for p in signals_round_2 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">3</th>
    {{ for p in signals_round_3 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">4</th>
    {{ for p in signals_round_4 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">5</th>
    {{ for p in signals_round_5 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
        <tr>
      <th scope="row">6</th>
    {{ for p in signals_round_6 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
 <tr>
      <th scope="row">7</th>
    {{ for p in signals_round_7 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">8</th>
    {{ for p in signals_round_8 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">9</th>
    {{ for p in signals_round_9 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>
          <tr>
      <th scope="row">10</th>
    {{ for p in signals_round_10 }}
              <td> {{ p  }}</td>
            {{ endfor }}
          </tr>

  </tbody>
</table>
      <br>
        <hr>
      <br>
Wenn Sie alle Fragen beantwortet haben, drücken Sie bitte auf "Weiter".
        Falls Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.


    <br>
      <br>
<div align="center">
    {{ next_button }}
</div>
          </div>
    </div>

<script>
            window.onload = function(){
                censored_options_4();
                censored_options_5();
                censored_options_6();
            }

            function update() {
            let check_trust = [js_vars.mistrust_sender_1, js_vars.mistrust_sender_2,js_vars.mistrust_sender_3,
                                js_vars.mistrust_sender_4, js_vars.mistrust_sender_5, js_vars.mistrust_sender_6];
            for(var k = 0; k <= check_trust.length; ++k){
                for(var i = 1; i <= check_trust[k] ; i++) {
                  document.getElementById(["sender_", k + 1, "_correction_", i, "_inround"].join('')).value = document.getElementById(["sender_", k + 1 , "_correction_", i, "_inround_select"].join('')).value
            }}}

</script>
{% endblock %}
