{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Teil 4 - Frage 1
    </h3>
        <br>
        <p>In diesem Teil werden wir Ihnen einige Fragen zu den Sendern stellen.
        Sie werden die Instruktionen für jede Frage erhalten, nachdem Sie die vorherige Frage beantwortet haben.
        Wie in Teil 3 beschrieben, mussten die Sender bei jeder der 10 Schätzaufgaben, die Sie ebenfalls bearbeitet haben, eine unbekannte Zahl x schätzen.
            Diese wurden nach der Genauigkeit ihrer Schätzungen bezahlt.</p>
        {{ if CN_treatment == False }}
        <p>
            Bevor ein Sender bei jeder Schätzaufgabe seine Schätzung angegeben hat, hat er die Schätzung eines zufällig ausgewählten Schätzgeräts gesehen.
            Jedem Sender war bewusst, dass die erhaltene Schätzung eines Schätzgerätes mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x entspricht als jeder andere Zahl.
            Zudem werden Schätzungen unwahrscheinlicher, je weiter diese von der Zahl x entfernt sind.
            Die Sender wurden ausdrücklich darauf hingewiesen, dass sie bei jeder Aufgabe genau die Zahl, die sie sahen, angeben sollten, um ihre Chancen zu maximieren, die Zahl x richtig zu schätzen.
        </p>
        <p><b>Ihre Aufgabe lautet wie folgt:
            Erraten Sie bei wie vielen der 10 Schätzaufgaben jeder der 6 Sender genau die Zahl angegeben hat, die er zuvor gesehen hat. </b>
            Wenn Sie sich während des Erratens die Angaben der Absender in allen 10 Schätzaufgaben nochmal in Erinnerung rufen möchten, können Sie diese am unteren Rand des Bildschirms finden.</p>
        {{ endif }}
        {{ if CN_treatment == True }}
        <p>
            Bevor ein Sender bei jeder Schätzaufgabe seine Schätzung angegeben hat, hat er die Schätzung eines zufällig ausgewählten Schätzgeräts gesehen (für Sender A, B, C und D) oder den Durchschnitt von zwei zufällig gezogenen Schätzgeräten (für Sender E und F).
            Jedem Sender war bewusst, dass die erhaltene Schätzung eines Schätzgerätes mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x entspricht als jeder andere Zahl.
            Zudem werden Schätzungen unwahrscheinlicher, je weiter diese von der Zahl x entfernt sind.
            Die Sender wurden ausdrücklich darauf hingewiesen, dass sie bei jeder Aufgabe genau die Zahl, die sie sahen, angeben sollten, um ihre Chancen zu maximieren, die Zahl x richtig zu schätzen.
        </p>
        <p>
            <b>Ihre Aufgabe lautet wie folgt:
                Erraten Sie bei wie vielen der 10 Schätzaufgaben jeder der 6 Sender genau die Zahl, die er gesehen hat, angegeben hat. </b>
            Wenn Sie sich während des Erratens die Angaben der Absender in allen 10 Schätzaufgaben nochmal in Erinnerung rufen möchten, können Sie diese am unteren Rand des Bildschirms finden.
        </p>
        {{ endif }}
        <br>
<h4>
    Auszahlung
</h4>

        <p>
        Falls dieser Teil der Studie (Teil 4) für die Auszahlung ausgewählt werden sollte, <b>werden Sie entsprechend Ihrer Einschätzung zu der Genauigkeit eines zufällig bestimmten Senders bezahlt.</b>
        Da jede ihrer Einschätzungen bezüglich der Genauigkeit der Sender über Ihre Bezahlung entscheiden kann, sollten Sie jede ihrer abgegebenen Einschätzungen ernst nehmen.
            </p>
        <p>
            Die folgende Regel wird verwendet, um Ihre Auszahlung zu bestimmen:
            <b>Falls ihre Einschätzung - wie oft ein Sender die jeweils erhaltene Schätzung des Schätzgeräts genau weitergegeben hat - der Wahrheit entspricht, erhalten Sie eine zusätzliche Auszahlung von 8 Euro.
                Ist Ihre Einschätzung falsch, erhalten Sie 0 €. </b>
            Sie sollten also die korrekte Anzahl erraten, um die Zusatzzahlung zu erhalten.
            Eine Einschätzung, die nicht der Wahrheit entspricht, bringt Ihnen keine Auszahlung.
        </p>

        <p>
            Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
            Wenn Sie bereit sind, fortzufahren, drücken Sie bitte auf "Weiter".
        </p>

   </div>
</div>
<div align="center">
    {{ next_button }}
</div>

{% endblock %}
