{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">


    <style type="text/css">

    .pic {
        width: 50%;
    }
    .btn {
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    table {

    }
    </style>

{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
 <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 5
 </h3>
        </div>
    <div class="card-body">


    <table>
        <tr><!-- Short version with 10 items -->
            {% if round < 3 %}
                <td colspan="8" height="50%" width="50%" align="center">
            {% endif %}
            {% if round > 2 %}
                <td colspan="10" height="50%" width="50%" align="center">
            {% endif %}
                    {% if round == 1 %}
                        <img class="pic" style="transform: rotate(-0.5deg);" src="{% static "3.png" %}"/>
                    {% endif %}
                    {% if round == 2 %}
                        <img class="pic" src="{% static "5.png" %}"/>
                    {% endif %}
                    {% if round == 3 %}
                        <img class="pic" style="transform: rotate(-0.5deg);" src="{% static "7.png" %}"/>
                    {% endif %}
                    {% if round == 4 %}
                        <img class="pic" src="{% static "10.png" %}"/>
                    {% endif %}
                    {% if round == 5 %}
                        <img class="pic" src="{% static "11.png" %}"/>
                    {% endif %}
                    {% if round == 6 %}
                        <img class="pic" src="{% static "13.png" %}"/>
                    {% endif %}
                    {% if round == 7 %}
                        <img class="pic" src="{% static "15.png" %}"/>
                    {% endif %}
                    {% if round == 8 %}
                        <img class="pic" src="{% static "16.png" %}"/>
                    {% endif %}
            </td>
        </tr>
        <tr>
            <td height="15px"></td>
        </tr>
        <tr align="center">
            <td width="15%"></td>
            <td> <button name="input_field" value="1" class="btn btn-primary btn-large">1</button> </td>
            <td> <button name="input_field" value="2" class="btn btn-primary btn-large">2</button> </td>
            <td> <button name="input_field" value="3" class="btn btn-primary btn-large">3</button> </td>
            <td> <button name="input_field" value="4" class="btn btn-primary btn-large">4</button> </td>
            <td> <button name="input_field" value="5" class="btn btn-primary btn-large">5</button> </td>
            <td> <button name="input_field" value="6" class="btn btn-primary btn-large">6</button> </td>
            {% if round > 2 %}
                <td> <button name="input_field" value="7" class="btn btn-primary btn-large">7</button> </td>
                <td> <button name="input_field" value="8" class="btn btn-primary btn-large">8</button> </td>
            {% endif %}
            <td width="15%"></td>
        </tr>
    </table>
    </div>
</div>
{% endblock %}
