{% load otree %}
{{ block styles }}
<link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
<style type="text/css">

.otree-timer {
    background-color: transparent;
    border: none;
}
#fadeIn {
            animation-name: fade;
            animation-duration: 4s;
        }
        @keyframes fade{
            0% {background-color: cyan;border-radius: 5px;}
            50% {background-color: #58FAAC;border-radius: 5px;}
            100% {background-color: transparent}
        }

</style>

{{ endblock }}
{% block content %}
<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 3 </h3>
        </div>
    <div class="card-body">
        <br>

        <h3 style="text-align: center"> Schätzaufgabe <b id="fadeIn">{{ round }} von 10</b></h3>
<br>
<br>


        <div style="text-align: center">Im Folgenden sehen Sie die Schätzungen der Sender:</div>

<br>
<br>
<br>
<br>


<div class="row row-cols-1 row-cols-md-6 g-2" align="center">
  <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender A
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_1 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender B
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_2 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender C
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_3 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender D
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_4 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender E
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_5 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender F
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_6 }}</li>
  </ul>
</div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div align="center">
    Bitte geben Sie nun Ihre eigene Schätzung zum tatsächlichen Wert der Zahl <i>x</i> ab und bestätigen Sie mit "Weiter":
    <br>
    {{ formfield 'posterior' label=""}}
    <br>
<br>
</div>
</div>

    </div>
<div align="center">
    {{ next_button }}
</div>
<!--<script>
window.onload = function progressbar_update() {
    bar = document.getElementById("progress");
        bar.style.width = parseInt(js_vars.round)*10 + "%";
    bar.innerHTML = "<big><b> Round " + parseInt(js_vars.round) + " of 10</b></big>";
}
</script>-->
{% endblock %}
