{% load otree %}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{% block content %}
<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2.)
 </h3>
        </div>
    <div class="card-body">

<h3 style="text-align: center"> Schätzaufgabe {{ round }} von 10</h3>
<br>
<br>


        Auf dieser Seite sehen Sie alle erhaltenen Schätzungen der Sender.
        Die jeweiligen Gruppenzugehörigkeiten der Sender sind farblich dargestellt.
        Bitte lesen Sie alle Schätzungen.
        Geben Sie bitte anschließend Ihre eigene Schätzung zum tatsächlichen Wert der Zahl x ab.


<br>
<br>
<br>
<br>


<div class="row row-cols-1 row-cols-md-6 g-2" align="center">
  <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender A
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_1 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender B
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_2 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender C
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_3 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender D
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_4 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender E
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_5 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header" style="font-weight: bold">
    Sender F
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_6 }}</li>
  </ul>
</div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div align="center">
    Bitte geben Sie nun Ihre eigene Schätzung zum tatsächlichen Wert der Zahl x ab und bestätigen Sie mit "Weiter":
    <br>
    {{ formfield 'posterior' label=""}}
    <br>
<br>
</div>
</div>

    </div>
<div align="center">
    {{ next_button }}
</div>
<!--<script>
window.onload = function progressbar_update() {
    bar = document.getElementById("progress");
        bar.style.width = parseInt(js_vars.round)*10 + "%";
    bar.innerHTML = "<big><b> Round " + parseInt(js_vars.round) + " of 10</b></big>";
}
</script>-->
{% endblock %}
