{{ load otree staticfiles }}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
{{ endblock }}
{{ block content }}
<div class="card bg-light instructions">
        <div class="card-header bg-transparent mainheader" >
            {{ if player.Role == 'receiver' }}
 <h3 class="card-title font-weight-bold"> Teil 2</h3>
            {{ endif}}
            {{ if player.Role == 'sender' }}
 <h3 class="card-title font-weight-bold"> Teil 3</h3>
                {{ endif}}
        </div>
    <div class="card-body">
<br>
        Dieser Teil der Studie besteht aus einem Fragebogen.
        {{ if participant.Role != "receiver" }}
        <b>Für die Beantwortung der Fragen in den Teilen 3, 4 und 5 erhalten Sie insgesamt {{ Questionnaire_payoff }}€.</b>
        {{ endif }}
        Bitte beantworten Sie die folgenden Fragen.
        <br><br>

        <strong>1. An wie viel Studien im BonnEconLab oder dem Decision Lab haben Sie bereits teilgenommen (abzüglich dieser Studie)? (Wenn Sie sich nicht sicher sind, schätzen Sie.)</strong>
                {{formfield 'q1'}}

        <br><hr><br>

        <strong>2. Wie viel Geld steht Ihnen im Monat zur Verfügung (abzüglich Miete)?</strong>
                {{formfield 'q2'}}

        <br><hr><br>

        <strong>3. Wie ist Ihre Stimmung?</strong>
        <br>
        <br>
        <div style="text-align: center">
        <strong> Sehr traurig
    {{ for choice in form.q3 }}
        {{ choice }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{ endfor }} Sehr Glücklich</strong></div>

        <br><hr><br>

        <strong>4. Wo würden Sie sich auf das politische Spektrum von "ganz links" zu "ganz rechts" einordnen?</strong>
                        <br>
        <br><br>
        <div style="text-align: center">
        <strong> Ganz links
    {{ for choice in form.q4 }}
        {{ choice }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{ endfor }} Ganz rechts</strong></div>

        <br><hr><br>

        <strong>5. Welches Geschlecht haben Sie? </strong>
                {{formfield 'q5'}}

        <br><hr><br>

        <strong>6. Studieren Sie? </strong>
                {{formfield 'q6'}}

        <br><br>

        <strong>7. Wenn ja, welches Fach studieren Sie? </strong>
                {{formfield 'q7'}}

        <br><hr><br>

        <strong>8. Wie alt sind Sie? </strong>
                {{formfield 'q8'}}

        <br><hr><br>

        <strong>9. Wie viele Geschwister haben Sie? </strong>
                {{formfield 'q9'}}

        <br><hr><br>

        <strong>10. Wie würden Sie Ihren Umgang mit Geld beschreiben? </strong>
                {{formfield 'q10'}}

        <br><hr><br>

        <strong>11. Wie würden Sie Ihre Kenntnisse über Finanzprodukte wie Sparkonten, Kreditkarten, Darlehen und Hypotheken bewerten?</strong>
                {{formfield 'q11'}}

        <br><hr><br>

        <strong>12. Waren Ihre Eltern/Erziehungsberechtigten in Ihrer Kindheit offen für Gespräche über finanzielle Angelegenheiten im Elternhaus?</strong>
                {{formfield 'q12'}}

        <br><hr><br>

        <strong>13. Würden Sie sagen, dass Sie, seit Sie studieren und Unterhaltsdarlehen/-stipendien erhalten, effektiv haushalten oder dass Sie Schwierigkeiten haben, lebensnotwendige Dinge zu kaufen?
                    Lebensnotwendige Dinge, d.h. Lebensmittel, Toilettenartikel und normale Lebenshaltungskosten - nicht Essen gehen.</strong>
            {{formfield 'q13'}}

        <br><hr><br>

        <strong>14. Wenn Sie Schwierigkeiten haben, lebensnotwendige Dinge zu kaufen, worauf führen Sie das zurück? </strong>
                {{formfield 'q14'}}

        <br><hr><br>

        <strong>15. Was sind Ihre fünf wichtigsten Ausgabenprioritäten? </strong>
                {{formfield 'q15'}}

        <br><hr><br>

        <strong>16. Wissen Sie regelmäßig, wie viel Geld Sie auf Ihrem Bankkonto haben? </strong>
                {{formfield 'q16'}}

        <br><hr><br>

        <strong>17. Behalten Sie den Überblick über Ihre Ausgaben?</strong>
                {{formfield 'q17'}}
        <br><hr><br>

        <strong>18. Haben Sie Geld für Notfälle zur Seite gelegt?</strong>
                {{formfield 'q18'}}
        <br><hr><br>

        <strong>19. Sind Sie verschuldet?</strong>
                {{formfield 'q19'}}

        <br><hr><br>

        <strong>20. Suchen Sie bei der Auswahl von Finanzprodukten wie Versicherungen und Mobiltelefonen nach dem besten Angebot? </strong>
                {{formfield 'q20'}}

        <br><hr><br>

        <strong>21. Haben Sie einen Job, um sich während des Studiums ein zusätzliches Einkommen zu verdienen? </strong>
                {{formfield 'q21'}}

        <br><hr><br>

        <strong>22. Wenn Sie morgen eine Finanzberatung bräuchten, an wen würden Sie sich wenden? </strong>
                {{formfield 'q22'}}

        <br><hr><br>
        {{ if player.Role == 'sender' }}
        <strong>23. Falls Ihre Antwort auf die vorhergehende Frage "Sonstige" war, geben Sie dies bitte genauer an. </strong>
                {{formfield 'q23'}}
        <br><hr><br>
        <strong>24. Welche Vorteile würden Sie sich davon versprechen, Ihr Geld besser verwalten zu können?</strong>
                {{formfield 'q24'}}
        <br><hr><br>
        <strong>25. Gibt es etwas, das Ihnen helfen würde, Ihr Geld besser zu verwalten?</strong>
                {{formfield 'q25'}}
        <br><br>
        {{ endif }}
        {{ if player.Role == 'prior_sender' }}
        <strong>23. Falls Ihre Antwort auf die vorhergehende Frage "Sonstige" war, geben Sie dies bitte genauer an. </strong>
                {{formfield 'q23'}}
        <br><hr><br>
        <strong>24. Welche Vorteile würden Sie sich davon versprechen, Ihr Geld besser verwalten zu können?</strong>
                {{formfield 'q24'}}
        <br><hr><br>
        <strong>25. Gibt es etwas, das Ihnen helfen würde, Ihr Geld besser zu verwalten?</strong>
                {{formfield 'q25'}}
        <br><br>
        {{ endif }}
        <strong>Sobald Sie alle Fragen oben beantwortet haben, klicken Sie bitte auf "Weiter".</strong>
   </div>
</div>
<br>
<div align="center">
    {{ next_button }}
</div>
{% endblock %}