{% load otree %}
{{ block styles }}
<style type="text/css">

.bg-primary {
background-color: #3f51b5!important;
color: white;
}

</style>

{{ endblock }}

{% block content %}

<h2 style="display: inline-block; padding-right: 60px ">Part 2</h2>

<!--<div align="center" style="display: inline-block; width: 60%; padding-left: 60px">
<div class="progress" style="height: 25px">
  <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10"></div>
</div>
</div>-->
<br>
<br>
<h3 style="text-align: center"> Estimation Task {{ round }} out of 10</h3>
<br>
<br>
You are a member of the {{player.identity}} Group.
Below you see all received signals.
Please read through all signals and report your guess.
Sender's group affiliations are shown via the respective colors.


<br>
<br>
<br>


<div class="row row-cols-1 row-cols-md-6 g-2" align="center">
  <div class="col">
<div class="card" style="width: auto">
  <div class="card-header  bg-primary" style="font-weight: bold">
    Sender A
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_1 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header bg-primary" style="font-weight: bold">
    Sender B
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_2 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header bg-primary" style="font-weight: bold">
    Sender C
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_3 }}</li>
  </ul>
</div>
    </div>

    <div class="col">
<div class="card" style="width: auto">
  <div class="card-header bg-warning" style="font-weight: bold">
    Sender D
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_4 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header bg-warning" style="font-weight: bold">
    Sender E
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_5 }}</li>
  </ul>
</div>
    </div>
        <div class="col">
<div class="card" style="width: auto">
  <div class="card-header bg-warning" style="font-weight: bold">
    Sender F
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ signal_6 }}</li>
  </ul>
</div>
    </div>
</div>

<br>
<br>


<div align="center">
    What is your Guess on X? Please answer below and confirm with "Next":
    <br>
    {{ formfield 'posterior' label=""}}
</div>

<div align="center">
    {{ next_button }}
</div>

<!--<script>
window.onload = function progressbar_update() {
    bar = document.getElementById("progress");
        bar.style.width = parseInt(js_vars.round)*10 + "%";
    bar.innerHTML = "<big><b> Round " + parseInt(js_vars.round) + " of 10</b></big>";
}
</script>-->

{% endblock %}
