{% load otree %}

{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">

<style type="text/css">
.next {
    float: right;
    margin: 40px auto;
    }
.text-primary {
color: #322b7b!important;
    font-weight: bold;
}
.text-warning{
    font-weight: bold;
}
 .back{
    float: left;
    margin: 40px auto;
    }

    .page-header {
    margin: 0px 0 5px;
    padding: 0;
    border-bottom: none;
    text-align: center;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.nav {
    visibility: hidden;
}
</style>

{{ endblock }}
{% block scripts %}

<script src="{% static 'prev_next_button.js' %}"></script>

{% endblock %}
{{ block content }}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Tab 1
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2
 </h3>
    </div>
    <div class="card-body">
        <br>

        Dieser Teil besteht aus 10 separaten Schätzaufgaben.
        Bei jeder Aufgabe <b>müssen Sie eine unbekannte Zahl x schätzen und werden entsprechend der Genauigkeit Ihrer Schätzung bezahlt</b> (wie unten beschrieben).
<br>
        <br>
<h4>
   Schätzaufgaben
</h4>
        Bei jeder der 10 Aufgaben wird vom Computer eine neue Zahl x festgelegt.
        Alle 10 Schätzaufgaben haben zwar die gleiche Struktur, sind aber völlig unabhängig voneinander.
        Das bedeutet, dass die Zahlen bei den Aufgaben in keiner Weise miteinander verbunden sind.
        Sie erhalten Informationen, die Ihnen helfen werden, die Zahl x zu schätzen.
        <br>
        Alle anderen TeilnehmerInnen der Studie stehen nun vor denselben Schätzaufgaben wie Sie, mit Ausnahme von 6 zufällig ausgewählten TeilnehmerInnen.
        Wir nennen diese 6 TeilnehmerInnen "Sender".
        Jeder Sender hat einen eindeutigen Namen:
        Sender A, Sender B, Sender C, Sender D, Sender E und Sender F.
        {{ if identity == "Blau" }}
        Wichtig ist, dass Sender A, B und C zu Ihrer <span class="text-primary">Gruppe Blau</span> gehören und Sie die Aufgabe mit den Gemälden in Teil 1 gemeinsam gelöst haben.
        Sie sind gegen Sender D, E und F angetreten, die zur <span class="text-warning">Gruppe Gelb</span> gehören.
            {{ endif }}
            {{ if identity == "Gelb" }}
                Wichtig ist, dass Sender D, E und F zu Ihrer <span class="text-warning">Gruppe Gelb</span> gehören und Sie die Aufgabe mit den Gemälden in Teil 1 gemeinsam gelöst haben.
        Sie sind gegen Sender A, B und C angetreten, die zur <span class="text-primary">Gruppe Blau</span> gehören.
            {{ endif }}

        <br>
        Die Sender haben die 10 Schätzaufgaben bereits gelöst.
        Sie haben ihre Schätzungen der Zahl x in jeder Schätzaufgabe angegeben, während Sie den Fragebogen in Teil 2 ausgefüllt haben.
        Die Informationen, die den Sendern dafür zur Verfügung gestellt wurden, unterscheiden sich jedoch von den Informationen, die Sie erhalten werden.
        Wir werden Ihnen zunächst erklären, welche Informationen Sie erhalten werden.
        <br>
        <b>Sie werden die Schätzungen der 6 Sender für jede der 10 Schätzaufgaben beobachten.</b>
        Konkret beobachten Sie bei jeder Schätzaufgabe die Namen der 6 Sender, ihre Gruppenzugehörigkeit und ihre individuellen Schätzungen der Zahl x.
        Sie erhalten keine weiteren Informationen, d. h. Sie verlassen sich bei Ihrer eigenen Schätzung der Zahl x nur auf die Schätzungen der Sender.

        <br>
        <br>
        Um zu verstehen, welche Informationen die 6 Sender erhalten haben, um die Zahl x zu schätzen, zeigen wir nun Ihnen ihre Instruktionen.
        Beachten Sie, dass alle 6 Sender die gleichen Anweisungen hatten.
<br>
        <br>
<div class="card">
  <div class="card-header">
      <b>Instruktionen der Sender</b>
      </div>
  <div class="card-body">
        Bei jeder der 10 Aufgaben wird vom Computer eine neue Zahl x festgelegt.
      Alle 10 Schätzaufgaben haben zwar die gleiche Struktur, sind aber völlig unabhängig voneinander.
      Das bedeutet, dass die Zahlen in den einzelnen Aufgaben in keiner Weise miteinander verbunden sind.
      <br>
      Sie werden nie mit Sicherheit wissen, was die genaue Zahl x ist.
      Stattdessen werden Sie Informationen, die von einem Computer generiert werden, erhalten.
      Diese helfen Ihnen, x zu schätzen.
      Bei jeder Aufgabe werden Sie diese Informationen erhalten und werden dann Ihre eigene Schätzung von x angeben.
      Im Folgenden wird Ihnen erklärt, wie die informationen generiert werden und welche davon Sie erhalten werden.
      <br>
      Der Computer simuliert Geräte, die die gleiche Aufgabe lösen wie Sie.
      Wir werden diese Geräte "Schätzgeräte" nennen.
      Für jede Aufgabe machen 10000 Schätzgeräte ihre Schätzung der Zahl x.
      Die Geräte sind gut darin, diese Schätzungen zu machen.
      Sie sind unabhängig voneinander und haben alle die gleiche Qualität, d. h., sie sind gleich gut in der Schätzung der Zahl x.
      Die Geräte haben die folgenden Eigenschaften:

        <ul>
            <li>Die Schätzung eines zufällig ausgewählten Schätzgeräts entspricht mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x als jede andere Zahl.</li>
            <li>Je weiter man sich von der Zahl x entfernt, desto unwahrscheinlicher ist es, dass ein Schätzgerät eine solche Schätzung angibt.
                Die Wahrscheinlichkeit, dass ein Schätzgerät eine Schätzung angibt, die um 10 größer oder kleiner ist als die Zahl x, ist sehr gering.</li>
            <li>Der Durchschnitt der 10000 Schätzungen entspricht genau (oder fast genau) der Zahl x.
                Das bedeutet, dass die Schätzgeräte im Durchschnitt richtig liegen.</li>
        </ul>

        Betrachten Sie bitte das folgende Beispiel.
      Stellen Sie sich vor, der Computer hat 280 als die tatsächliche Zahl x gezogen.
      Die folgende Abbildung zeigt ein Beispiel für die 10000 Schätzgeräte und ihre Schätzungen.
<br>
      <br>
        <div style="margin: auto; width: 80%; height: auto">
        <img src="{{ static 'Distr.png' }}" style="height: 100%; width:100%"/>
            </div>

        Wie Sie sehen können, bilden die Schätzungen eine typische Glockenkurve.
      Die häufigste Schätzung ist genau 280. Es ist also wahrscheinlicher, dass die Schätzung eines zufällig gezogenen Schätzgerätes der tatsächlichen Zahl x entspricht als jede andere Zahl. J
      e weiter man sich von 280 entfernt, desto unwahrscheinlicher ist es, dass eine solche Schätzung von einem Schätzgerät angegeben wird, und Schätzungen größer als 290 und kleiner als 270 werden fast nie angegeben.
      Der Durchschnitt aller 10000 Schätzungen, der durch die blaue gestrichelte Linie dargestellt wird, beträgt 280. Der Durchschnitt ist also korrekt, d. h. er entspricht der Zahl x.
        <br>
        <br>
        Um Ihnen bei der Schätzung der Zahl x zu helfen, wird das folgende Verfahren angewendet.
      Bei jeder Schätzaufgabe wird ein Schätzgerät zufällig gezogen.
      Sie werden die Schätzung dieses Schätzgeräts beobachten.
      Das bedeutet, dass Sie sich für Ihre eigene Schätzung nur auf die Schätzung eines einzigen Schätzgeräts verlassen werden.
      Um die Informationen des Schätzgeräts bestmöglich zu nutzen, sollten Sie bedenken, dass die Schätzung eines zufällig ausgewählten Schätzgeräters mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x entspricht als jeder andere Zahl.
      <b>Um Ihre Chancen auf eine korrekte Schätzung der Zahl x zu maximieren, sollten Sie daher bei jeder Schätzaufgabe genau die vom Schätzgerät angegebene Zahl angeben.</b>
      </div>
</div>
        <br>

        Wie Sie sehen können, war die Aufgabe der Sender ziemlich einfach, und sie hatten einen Anreiz, die Zahl x möglichst präzise zu schätzen.
        Je näher deren Schätzungen an der Zahl x lagen, desto höher waren deren Chancen auf eine zusätzliche Auszahlung.
        Beachten Sie auch, dass die Sender nicht darüber informiert wurden, dass ihre Schätzungen Ihnen oder anderen TeilnehmerInnen gezeigt werden würden.
        Im Gegensatz dazu werden Ihre Schätzungen privat bleiben und keinen anderen StudienteilnehmerInnen gezeigt.
        <br>
    <br>
        Nun stellen wir Ihnen ein Beispiel vor, um die Informationsstruktur zu verdeutlichen.
        Bitte beachten Sie die folgende Abbildung.
        Stellen Sie sich vor, dass in einer Schätzaufgabe das Schätzgerät von Sender A die Zahl 510, das Schätzgerät von Sender B die Zahl 520, das Schätzgerät von Sender C die Zahl 502, das Schätzgerät von Sender D die Zahl 512, das Schätzgerät von Sender E die Zahl 528 und das Schätzgerät von Sender F die Zahl 504 angegeben hat.
        Die Schätzung jedes Schätzgerätes wird nur von dem Sender beobachtet, der diesem Schätzgerät zugewiesen ist (wie in der Abbildung veranschaulicht).
        Nachdem jeder Sender die Schätzung des jeweils zugeordneten Schätzgerätes erhalten hat, gibt jeder Sender eine persönliche Schätzung der Zahl x an.
        Sie werden alle 6 Schätzungen der insgesamt 6 Sender beobachten.
        <br>
        <br>
                <div style="margin: auto; width: 80%; height: auto">
        <img src="{{ static 'control.png' }}" style="height: 100%; width:100%"/>
            </div>
        <br>

        Um weiterhin zu verdeutlichen, was Sie tatsächlich beobachten werden und wie eine Schätzaufgabe auf Ihrem Bildschirm aussehen wird, stellen Sie sich ein weiteres Beispiel vor.
        Nehmen Sie an, dass jeder Sender die Schätzung des jeweils zugeordneten Schätzgerätes erhalten hat.
        Sender A schätzt daraufhin die Zahl x auf 823, Sender B schätzt diese auf 831, Sender C schätzt diese auf 825, Sender D schätzt diese auf 827, Sender E schätzt diese auf 836 und Sender F schätzt diese auf 835.
        In diesem Fall würden Sie das folgende Bild auf Ihrem Bildschirm sehen.
                        <br>
        <br>
                <div style="margin: auto; width: 100%; height: auto">
        <img src="{{ static 'SI_signals.png' }}" style="height: 100%; width:100%"/>
            </div>
        <br>
        <br>

    <h4>
        Auszahlung
        </h4>
        Wenn dieser Teil der Studie (Teil 3) für die Bezahlung ausgewählt wird, wird eine der 10 Schätzaufgaben zufällig ausgewählt, und <b>Sie werden entsprechend der Genauigkeit Ihrer Schätzung bei dieser Aufgabe bezahlt. </b>
        Da jede Aufgabe für ihre Auszahlung ausgewählt werden kann, sollten Sie jede Aufgabe sorgfältig bearbeiten.
        <br>
        Ihre Auszahlung wird durch der folgenden Regel bestimmt werden:
        <b>Je näher Ihre Schätzung an der Zahl x liegt, desto höher ist die Wahrscheinlichkeit, dass Sie eine zusätzliche Auszahlung von 13€ erhalten.
            Wenn Ihre Schätzung genau der Zahl x entspricht, werden Sie auf jeden Fall 13€ erhalten. </b>
        Die Berechnung Ihrer Auszahlung ist also einfach:
        Je präziser Ihre Schätzung ist (d. h. je geringer der Abstand zwischen Ihrer Schätzung und der Zahl x), desto höher ist die Wahrscheinlichkeit, dass Sie die <b>13€ erhalten.</b>
        Nachfolgend finden Sie die technischen Details der Auszahlungsregel.
        <br>
        <br>
        Der Computer wird eine zufällige Zahl y zwischen 0 und 50 ziehen.
        Jede Zahl zwischen 0 und 50 kann mit gleicher Wahrscheinlichkeit gezogen werden.
        Sie erhalten 13€, wenn der quadratische Abstand zwischen Ihrer Schätzung und der tatsächlichen Zahl x kleiner oder gleich y ist.
        Ansonsten erhalten Sie 0€.
        Dies ist die genaue Formel für die Berechnung Ihrer Auszahlung:
        <br>
         <ul>
          <li>Ihre Auszahlung = 13, wenn (x - Schätzung)&#178; &le; y </li>
          <li>Ihre Auszahlung = 0, wenn (x - Schätzung)&#178; &#62; y </li>
      </ul>

        <p>Betrachten Sie die folgenden Beispiele.
          Angenommen, die tatsächliche Zahl x ist 150 und eine zufällig gezogene Zahl y ist 20.</p>
        <p>
        Ihre Schätzung 135: Quadratischer Abstand ist (150-135)&#178;= 225 &#62; y  &#8594; Sie verdienen 0€.
<br><br>
        Ihre Schätzung 147: quadratischer Abstand ist (150-147)&#178;= 9 &lt; y &#8594; Sie verdienen <b>13€</b>.
<br><br>
        Ihre Schätzung 154: quadratischer Abstand ist (150-154)&#178;= 16 &lt; y &#8594; Sie verdienen <b>13€</b>.
<br><br>
        Ihre Schätzung 155: quadratischer Abstand ist (150-155)&#178;= 25 &#62; y &#8594; Sie verdienen 0€.</p>
        <br>

        Beachten Sie, dass Ihre Gewinnchancen vom quadratischen Abstand zur tatsächlichen Zahl x abhängen.
        Es macht also keinen Unterschied, ob Sie die Zahl x unter- oder überschätzen.
        Wichtig ist nur, dass Ihre Schätzung nahe genug an der tatsächlichen Zahl x liegt.
        Je präziser Sie die Zahl x schätzen, desto höher sind Ihre Gewinnchancen auf <b>13€.</b>

<br><br>
       <h4> Zusammenfassung:</h4>
        <ul>
            <li>In diesem Teil werden Sie 10 unabhängige Schätzaufgaben lösen.
                Bei jeder Aufgabe müssen Sie eine unbekannte Zahl x schätzen.</li>
            <li>Sie werden nach der Genauigkeit Ihrer Schätzungen bezahlt.</li>
            <li>In jeder Aufgabe werden Sie die Schätzungen von 6 Sendern beobachten.
                {{ if identity == "Blau" }}
                Die Sender A, B und C sind Mitglieder Ihrer <span class="text-primary">Gruppe Blau</span>, während die Sender D, E und F Mitglieder der <span class="text-warning">Gruppe Gelb</span> sind.
                In Teil 1 des Experiments sind Sie und die Sender A, B, C gegen die Sender D, E und F angetreten.
            {{ endif }}
            {{ if identity == "Gelb" }}
                Die Sender D, E und F sind Mitglieder Ihrer <span class="text-warning">Gruppe Gelb</span>, während die Sender A, B und C Mitglieder der <span class="text-primary">Gruppe Blau</span> sind.
                In Teil 1 des Experiments sind Sie und die Sender D, E, F gegen die Sender A, B und C angetreten.
            {{ endif }}</li>
            <li>Jeder Sender hat die Zahl x geschätzt und wurde entsprechend seiner Genauigkeit bezahlt.</li>
            <li>Jedes Schätzgerät hat die folgenden Eigenschaften:
            <ul>
                <li>Die Schätzung eines zufällig gezogenen Schätzgerätes entspricht mit größerer Wahrscheinlichkeit der tatsächlichen Zahl x als jeder anderen Zahl.</li>
                <li>Je weiter man sich von der Zahl x entfernt, desto unwahrscheinlicher ist es, dass ein Schätzgerät eine solche Schätzung angibt.
                    Die Wahrscheinlichkeit, dass ein Schätzgerät eine Schätzung angibt, die um 10 größer oder kleiner als die Zahl x ist, ist sehr gering.</li>
                <li>Der Durchschnitt der 10000 Schätzungen entspricht genau (oder fast genau) der Zahl x.
                    Das bedeutet, dass die Schätzgeräte im Durchschnitt richtig sind.</li>
            </ul></li>
        </ul>

       Wenn Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird zu Ihnen kommen.
        Wenn Sie bereit sind, drücken Sie bitte auf "Weiter".
        <br>
   </div>
</div>
<button onclick="topFunction()" id="tab1_next" type="button" class="nexttab btn-primary btn next">Weiter</button>
 </div>



       <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2 - Verständnisfragen
 </h3>
        </div>
    <div class="card-body">

        <br>
    <div class="alert alert-primary" role="alert">
 <strong> Bevor Sie mit der Aufgabe fortfahren, bitten wir Sie, die folgenden Fragen zum Verständnis zu beantworten.
     Falls Sie die Anweisungen zu Teil 2 erneut lesen möchten, können Sie auf "Zurück" am Ende der Seite klicken.
     Sollten Sie Fragen haben, heben Sie bitte die Hand und ein Laborassistent wird sich an Sie wenden.</strong>
</div>
<p style="font-weight: bold">
    1.) Welche Informationen haben die Sender bei jeder Schätzaufgabe erhalten, um die Zahl x zu schätzen?</p>
{{ formfield 'comprq7' }}
<br><hr>
        <p style="font-weight: bold">
    2.) Welche Informationen erhalten Sie bei jeder Schätzaufgabe, um die Zahl x zu schätzen?</p>
{{ formfield 'comprq8' }}
<br><hr>
        <p style="font-weight: bold">
    3.) Welche Sender sind Mitglieder der <span class="text-primary">Gruppe Blau</span> {{ if identity == "Blau" }} (Ihrer Gruppe) {{ endif }} und welche sind Mitglieder der <span class="text-warning">Gruppe Gelb</span> {{ if identity == "Gelb" }} (Ihrer Gruppe) {{ endif }}?</p>
{{ formfield 'comprq8_2' }}
<br><hr>
        <p style="font-weight: bold">
    4.) Bitte geben Sie an, welche dieser Aussagen zutrifft.</p>
{{ formfield 'comprq9' }}
<br><hr>
        <p style="font-weight: bold">
    5.) Bitte geben Sie an, welche dieser Aussagen zutrifft.</p>
{{ formfield 'comprq10' }}
<br><hr>
        <p style="font-weight: bold">
    6.) Angenommen, in einer Schätzaufgabe hat das von einem Sender beobachtete Schätzgerät eine Schätzung von 19 angegeben.
            Welche Schätzung hätte der Sender angesichts dieser Information angeben sollen, um seine Chancen auf eine zusätzliche Zahlung zu maximieren?</p>
{{ formfield 'comprq12' }}
<br><hr>
        <p style="font-weight: bold">
    7.) Angenommen, in einer Schätzaufgabe ist die Zahl x gleich 1520, und Sie geben 1520 als Ihre Schätzung der Zahl x an.
            Wie hoch sind Ihre Chancen, die zusätzliche Auzahlung  zu erhalten?</p>
{{ formfield 'comprq13' }}


</div>
    </div>
  <button onclick="topFunction()"  type="button" class="prevtab btn-primary btn back">Zurück</button>
<button class="nexttab btn-primary btn next">Weiter</button>
  </div>
</div>

<script>

     document.getElementById("tab1_next").onclick = function clicked(){
    	window.location.hash = 'reload';

    }
    //When the document has loaded, call the function
    window.onload = function() {
    	if(window.location.hash === "#reload"){
    		document.getElementById("part1").classList.remove("show")
            document.getElementById("part1").classList.remove("active")
            document.getElementById("part1-tab").classList.remove("active")
            document.getElementById("part2").classList.add("show")
            document.getElementById("part2").classList.add("active")
            document.getElementById("part2-tab").classList.add("active")
    	}
    };

</script>
{% endblock %}
