{% load otree %}
{{block styles }}
    <link href="{{ static 'global/Instructions.css' }}" rel="stylesheet">
<style type="text/css">

#fadeIn {
            animation-name: fade;
            animation-duration: 4s;
        }
        @keyframes fade{
            0% {background-color: cyan;border-radius: 5px;}
            50% {background-color: #58FAAC;border-radius: 5px;}
            100% {background-color: transparent}
        }
</style>
{{ endblock }}
{% block content %}
<div class="card bg-light instructions">
    <div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Teil 2
 </h3>
        </div>
    <div class="card-body">
<h3 style="text-align: center"> Schätzaufgabe <b id="fadeIn">{{ round }} von 11</b></h3>
<br>
<br>
        <div style="text-align: center"> Im Folgenden sehen Sie die Schätzung Ihres zufällig gezogenen Schätzgerätes. Bitte machen Sie Ihre Eingabe innerhalb von 1 Minute:</div>
<br>
<br>

<div class="row" align="center">
  <div class="col">
<div class="card" style="width: 18rem   ">
  <div class="card-header" style="font-weight: bold">
    Schätzung
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ estimate }}</li>
  </ul>
</div>
    </div>
</div>
           <div class="alert alert-warning" role="alert" id="timer_warning" style="visibility: hidden" align="center">
  <b>Achtung!</b> Bitte machen Sie nun Ihre Eingabe und bestätigen Sie mit "Weiter".
    </div>
<div align="center">
    Bitte geben Sie nun Ihre eigene Schätzung zum tatsächlichen Wert der Zahl <i>x</i> ab und bestätigen Sie mit weiter:
    <br>
    <br>
{{ formfield 'sent_signal' label=""}}
    <br>
</div>
        </div>
        </div>
<div align="center"  id="next_button">
    {% next_button %}
</div>

        <div class="alert alert-warning" role="alert" id="entry_warning" style="visibility: hidden" align="center">
  <b>Achtung!</b> Sie haben eine Schätzung angegeben, die um mehr als {{ border }} von der Schätzung des zufällig gezogenen Schätzgerätes abweicht.
            Je weiter Ihre Schätzung von der Schätzung des zufällig gezogenen Schätzgerätes abweicht, desto geringer ist die Wahrscheinlichkeit, dass Sie nahe an der Zahl x liegen und damit die zusätzliche Zahlung von {{ GT_sender_payoff}} € verdienen. Bitte klicken Sie auf "Verstanden!", wenn Sie das verstanden haben.
            <br><br>
            <button type="button" class="btn btn-warning" id="entry_warning_button">
                Verstanden!
            </button>
        </div>
<script>

function timer_warning(){
  document.getElementById("timer_warning").style.visibility = "visible"}
setTimeout(timer_warning, 45000);

document.addEventListener('keypress', function (e) {
        if (e.keyCode === 13 || e.which === 13) {
            e.preventDefault();
            return false;
        }});

forminputs.sent_signal.oninput = function() {
   setTimeout(checkInput, 500)}
var index = false
function checkInput() {
    if (Math.abs(forminputs.sent_signal.value - js_vars.estimate) > js_vars.entry_warning_border) {
        if (index===false){document.getElementById("next_button").style.visibility = "hidden"}
        document.getElementById("entry_warning").style.visibility = "visible"}
  else {
  document.getElementById("entry_warning").style.visibility = "hidden"
  document.getElementById("next_button").style.visibility = "visible"}
}
document.getElementById("entry_warning_button").onclick = function(){
    document.getElementById("entry_warning").style.visibility = "hidden"
    document.getElementById("next_button").style.visibility = "visible"
    index = true};
</script>
{% endblock %}
